<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="blockGroups" name="Block Groups" schema="schema/blockGroups.exsd"/>
   <extension-point id="blockTypes" name="Block Types" schema="schema/blockTypes.exsd"/>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipselabs.damos.dml.DMLPackage"
            genModel="model/DML.genmodel"
            uri="http://www.eclipselabs.org/damos/DML/1.0.0">
      </package>
   </extension>


</plugin>
