<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipselabs.damos.execution.core.runtimeEnvironments">
      <runtimeEnvironment
            id="org.eclipselabs.damos.rte.posix"
            name="POSIX">
      </runtimeEnvironment>
   </extension>

</plugin>
