<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <editor
               id="org.esmp.dsm.diagram.ui.blockDiagramEditor"></editor>
         <contribution
               factoryClass="org.esmp.dsm.diagram.ui.services.PaletteFactory">
            <entry
                  description="Discrete blocks"
                  id="org.esmp.dsm.library.discrete.drawer"
                  kind="drawer"
                  label="Discrete"
                  path="/">
            </entry>
            <entry
                  description="Create a delay block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Discrete/Delay.blocktype"
                  kind="tool"
                  label="Delay"
                  path="/org.esmp.dsm.library.discrete.drawer">
            </entry>
            <entry
                  description="Create a discrete derivative block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Discrete/DiscreteDerivative.blocktype"
                  kind="tool"
                  label="Discrete Derivative"
                  path="/org.esmp.dsm.library.discrete.drawer">
            </entry>
            <entry
                  description="Create an discrete integrator block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Discrete/DiscreteIntegrator.blocktype"
                  kind="tool"
                  label="Discrete Integrator"
                  path="/org.esmp.dsm.library.discrete.drawer">
            </entry></contribution>
      </paletteProvider>
   </extension>
   <extension
         point="org.esmp.dsm.diagram.ui.editParts">
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Discrete/Delay.blocktype"
            class="org.esmp.dsm.library.discrete.ui.editparts.DelayEditPart"
            name="Delay">
      </editPart>
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Discrete/DiscreteIntegrator.blocktype"
            class="org.esmp.dsm.library.discrete.ui.editparts.DiscreteIntegratorEditPart"
            name="Discrete Integrator">
      </editPart>
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Discrete/DiscreteDerivative.blocktype"
            class="org.esmp.dsm.library.discrete.ui.editparts.DiscreteDerivativeEditPart"
            name="Discrete Derivative">
      </editPart>
   </extension>

</plugin>
