<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipselabs.damos.simulation.simulator.blockSimulationObjects">
      <simulationObject
            blockType="damos::library::vi::communication::UDPSource"
            class="org.eclipselabs.damos.library.vi.simulation.communication.UDPSourceSimulationObject"
            name="UDPSource">
      </simulationObject>
      <simulationObject
            blockType="damos::library::vi::communication::UDPSink"
            class="org.eclipselabs.damos.library.vi.simulation.communication.UDPSinkSimulationObject"
            name="UDPSink">
      </simulationObject>
      <simulationObject
            blockType="damos::library::vi::controls::Slider"
            class="org.eclipselabs.damos.library.vi.simulation.controls.SliderSimulationObject"
            name="Slider">
      </simulationObject>
      <simulationObject
            blockType="damos::library::vi::controls::Button"
            class="org.eclipselabs.damos.library.vi.simulation.controls.ButtonSimulationObject"
            name="Button">
      </simulationObject>
      <simulationObject
            blockType="damos::library::vi::indicators::Gauge"
            class="org.eclipselabs.damos.library.vi.simulation.indicators.GaugeSimulationObject"
            name="Gauge">
      </simulationObject>
   </extension>

</plugin>
