<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.damos.codegen.c.runtimeEnvironmentAPIs">
      <runtimeEnvironmentAPI
            class="org.eclipse.damos.rte.posix.codegen.c.RuntimeEnvironmentAPI"
            runtimeEnvironment="damos.rte.runtimes.Posix">
      </runtimeEnvironmentAPI>
   </extension>

</plugin>
