<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.esmp.dsm.codegen.c.generators">
      <generator
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Sources/Constant.blocktype"
            name="Constant"
            template="org::esmp::dsm::library::sources::codegen::c::templates::Constant::main">
      </generator>
   </extension>

</plugin>
