<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <editor
               id="org.esmp.dsm.diagram.ui.blockDiagramEditor">
         </editor>
         <contribution
               factoryClass="org.esmp.dsm.diagram.ui.services.PaletteFactory">
            <entry
                  description="Signal blocks"
                  id="org.esmp.dsm.library.signal.drawer"
                  kind="drawer"
                  label="Signal"
                  path="/">
            </entry>
            <entry
                  description="Create a data type conversion block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Signal/DataTypeConversion.blocktype"
                  kind="tool"
                  label="Data Type Conversion"
                  path="/org.esmp.dsm.library.signal.drawer">
            </entry>
            <entry
                  description="Create a switch"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Signal/Switch.blocktype"
                  kind="tool"
                  label="Switch"
                  path="/org.esmp.dsm.library.signal.drawer">
            </entry>
         </contribution>
      </paletteProvider>
   </extension>
   <extension
         point="org.esmp.dsm.diagram.ui.editParts">
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Signal/DataTypeConversion.blocktype"
            class="org.esmp.dsm.library.signal.ui.editparts.DataTypeConversionEditPart">
      </editPart>
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Signal/Switch.blocktype"
            class="org.esmp.dsm.library.signal.ui.editparts.SwitchEditPart">
      </editPart>
   </extension>

</plugin>
