<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.esmp.dsm.codegen.c.generators">
      <generator
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Discrete/Delay.blocktype"
            name="Delay"
            template="org::esmp::dsm::library::discrete::codegen::c::templates::Delay::main">
      </generator>
      <generator
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Discrete/DiscreteDerivative.blocktype"
            name="Discrete Derivative"
            template="org::esmp::dsm::library::discrete::codegen::c::templates::DiscreteDerivative::main">
      </generator>
      <generator
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Discrete/DiscreteIntegrator.blocktype"
            name="Discrete Integrator"
            template="org::esmp::dsm::library::discrete::codegen::c::templates::DiscreteIntegrator::main">
      </generator>
   </extension>

</plugin>
