<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="damosNature"
         name="Damos Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipselabs.damos.ide.core.natures.DamosProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="damosBuilder"
         name="Damos Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipselabs.damos.ide.core.builders.DamosProjectBuilder">
            <parameter
                  name="optimize"
                  value="true">
            </parameter>
            <parameter
                  name="comment"
                  value="Damos Project Builder">
            </parameter>
         </run></builder>
   </extension>

</plugin>
