<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="http://www.eclipselabs.org/damos/library/vi/"
            target="platform:/plugin/org.eclipselabs.damos.library.vi/blocktypes/">
      </mapping>
   </extension>
   <extension
         point="org.eclipselabs.damos.dml.blockGroups">
      <group
            id="org.eclipselabs.damos.library.vi.communication"
            name="Communication"
            supergroup="org.eclipselabs.damos.library.vi">
      </group>
      <group
            id="org.eclipselabs.damos.library.vi.controls"
            name="Controls"
            supergroup="org.eclipselabs.damos.library.vi">
      </group>
      <group
            id="org.eclipselabs.damos.library.vi.indicators"
            name="Indicators"
            supergroup="org.eclipselabs.damos.library.vi">
      </group>
      <group
            id="org.eclipselabs.damos.library.vi"
            name="Damos Virtual Instruments">
         <language
               id="org.eclipselabs.damos">
         </language>
      </group>
   </extension>
   <extension
         point="org.eclipselabs.damos.dml.blockTypes">
      <blockType
            group="org.eclipselabs.damos.library.vi.communication"
            qualifiedName="damos.library.vi.communication.UDPSource"
            name="UDPSource"
            uri="http://www.eclipselabs.org/damos/library/vi/communication/UDPSource.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.vi.communication"
            qualifiedName="damos.library.vi.communication.UDPSink"
            name="UDPSink"
            uri="http://www.eclipselabs.org/damos/library/vi/communication/UDPSink.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.vi.controls"
            qualifiedName="damos.library.vi.controls.Slider"
            name="Slider"
            uri="http://www.eclipselabs.org/damos/library/vi/controls/Slider.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.vi.controls"
            name="Button"
            qualifiedName="damos.library.vi.controls.Button"
            uri="http://www.eclipselabs.org/damos/library/vi/controls/Button.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.vi.indicators"
            qualifiedName="damos.library.vi.indicators.Gauge"
            name="Gauge"
            uri="http://www.eclipselabs.org/damos/library/vi/indicators/Gauge.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.vi.indicators"
            name="Display"
            qualifiedName="damos.library.vi.indicators.Display"
            uri="http://www.eclipselabs.org/damos/library/vi/indicators/Display.blocktype#/">
      </blockType>
   </extension>
   <extension
         point="org.eclipselabs.damos.execution.blockSignaturePolicies">
      <policy
            blockType="damos.library.vi.communication.UDPSource"
            class="org.eclipselabs.damos.library.vi.signatures.communication.UDPSourceSignaturePolicy"
            name="UDPSource">
      </policy>
      <policy
            blockType="damos.library.vi.communication.UDPSink"
            class="org.eclipselabs.damos.library.vi.signatures.communication.UDPSinkSignaturePolicy"
            name="UDPSink">
      </policy>
      <policy
            blockType="damos.library.vi.controls.Slider"
            class="org.eclipselabs.damos.library.vi.signatures.controls.SliderSignaturePolicy"
            name="Slider">
      </policy>
      <policy
            blockType="damos.library.vi.controls.Button"
            class="org.eclipselabs.damos.library.vi.signatures.controls.ButtonSignaturePolicy"
            name="Button">
      </policy>
      <policy
            blockType="damos.library.vi.indicators.Gauge"
            class="org.eclipselabs.damos.library.vi.signatures.indicators.GaugeSignaturePolicy"
            name="Gauge">
      </policy>
      <policy
            blockType="damos.library.vi.indicators.Display"
            class="org.eclipselabs.damos.library.vi.signatures.indicators.DisplaySignaturePolicy"
            name="Display">
      </policy>
   </extension>

</plugin>
