<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.damos.ide.ui.properties">
         <propertyTab
               afterTab="org.eclipse.damos.dml.ui.tabs.general"
               category="default"
               id="org.eclipse.damos.library.base.ui.tabs.math.ports"
               label="Ports">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.damos.ide.ui.properties">
         <propertySection
               afterSection="org.eclipse.damos.diagram.ui.sections.showName"
               class="org.eclipse.damos.library.base.ui.properties.LogicGateShapePropertySection"
               id="org.eclipse.damos.library.base.ui.sections.logic.logicGateShape"
               tab="org.eclipse.damos.ide.ui.tabs.appearance">
            <input
                  type="org.eclipse.damos.library.base.ui.editparts.LogicGateEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.damos.library.base.ui.properties.SumInputPortsPropertySection"
               id="org.eclipse.damos.library.base.ui.sections.math.inputPorts"
               tab="org.eclipse.damos.library.base.ui.tabs.math.ports">
            <input
                  type="org.eclipse.damos.library.base.ui.editparts.SumEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipse.damos.diagram.ui.sections.showName"
               class="org.eclipse.damos.library.base.ui.properties.SumShapePropertySection"
               id="org.eclipse.damos.library.base.ui.sections.math.sumShape"
               tab="org.eclipse.damos.ide.ui.tabs.appearance">
            <input
                  type="org.eclipse.damos.library.base.ui.editparts.SumEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.damos.diagram.ui.blockViewFactories">
      <viewFactory
            blockType="damos.blocks.And"
            class="org.eclipse.damos.library.base.ui.view.factories.LogicGateViewFactory"
            name="And">
      </viewFactory>
      <viewFactory
            blockType="damos.blocks.Or"
            class="org.eclipse.damos.library.base.ui.view.factories.LogicGateViewFactory"
            name="Or">
      </viewFactory>
      <viewFactory
            blockType="damos.blocks.Inverter"
            class="org.eclipse.damos.library.base.ui.view.factories.LogicGateViewFactory"
            name="Inverter">
      </viewFactory>
      <viewFactory
            blockType="damos.blocks.Sum"
            class="org.eclipse.damos.library.base.ui.view.factories.SumViewFactory"
            name="Sum">
         <input
               class="org.eclipse.damos.library.base.ui.view.factories.SumInputPortViewFactory"
               name="input">
         </input>
      </viewFactory>
   </extension>
   <extension
         point="org.eclipse.damos.diagram.ui.blockEditParts">
      <editPart
            blockType="damos.blocks.Integrator"
            class="org.eclipse.damos.library.base.ui.editparts.IntegratorEditPart"
            name="Integrator">
      </editPart>
      <editPart
            blockType="damos.blocks.Derivative"
            class="org.eclipse.damos.library.base.ui.editparts.DerivativeEditPart"
            name="Derivative">
      </editPart>
      <editPart
            blockType="damos.blocks.TransferFunction"
            class="org.eclipse.damos.library.base.ui.editparts.TransferFunctionEditPart"
            name="Transfer Function">
      </editPart>
      <editPart
            blockType="damos.blocks.Saturation"
            class="org.eclipse.damos.library.base.ui.editparts.SaturationEditPart"
            name="Saturation">
      </editPart>
      <editPart
            blockType="damos.blocks.Delay"
            class="org.eclipse.damos.library.base.ui.editparts.DelayEditPart"
            name="Delay">
      </editPart>
      <editPart
            blockType="damos.blocks.DiscreteIntegrator"
            class="org.eclipse.damos.library.base.ui.editparts.DiscreteIntegratorEditPart"
            name="Discrete Integrator">
      </editPart>
      <editPart
            blockType="damos.blocks.DiscreteDerivative"
            class="org.eclipse.damos.library.base.ui.editparts.DiscreteDerivativeEditPart"
            name="Discrete Derivative">
      </editPart>
      <editPart
            blockType="damos.blocks.Counter"
            class="org.eclipse.damos.library.base.ui.editparts.CounterEditPart"
            name="Counter">
      </editPart>
      <editPart
            blockType="damos.blocks.And"
            class="org.eclipse.damos.library.base.ui.editparts.AndEditPart"
            name="And">
      </editPart>
      <editPart
            blockType="damos.blocks.Or"
            class="org.eclipse.damos.library.base.ui.editparts.OrEditPart"
            name="Or">
      </editPart>
      <editPart
            blockType="damos.blocks.Inverter"
            class="org.eclipse.damos.library.base.ui.editparts.InverterEditPart"
            name="Inverter">
      </editPart>
      <editPart
            blockType="damos.blocks.Compare"
            class="org.eclipse.damos.library.base.ui.editparts.CompareEditPart"
            name="Compare">
      </editPart>
      <editPart
            blockType="damos.blocks.SchmittTrigger"
            class="org.eclipse.damos.library.base.ui.editparts.SchmittTriggerEditPart"
            name="SchmittTrigger">
      </editPart>
      <editPart
            blockType="damos.blocks.EdgeToggle"
            class="org.eclipse.damos.library.base.ui.editparts.EdgeToggleEditPart"
            name="Edge Toggle">
      </editPart>
      <editPart
            blockType="damos.blocks.Debounce"
            class="org.eclipse.damos.library.base.ui.editparts.DebounceEditPart"
            name="Debounce">
         <input
               class="org.eclipse.damos.library.base.ui.editparts.DebounceInputPortEditPart"
               name="u">
         </input>
         <output
               class="org.eclipse.damos.library.base.ui.editparts.DebounceOutputPortEditPart"
               name="y">
         </output>
      </editPart>
      <editPart
            blockType="damos.blocks.Gain"
            class="org.eclipse.damos.library.base.ui.editparts.GainEditPart"
            name="Gain">
      </editPart>
      <editPart
            blockType="damos.blocks.Sum"
            class="org.eclipse.damos.library.base.ui.editparts.SumEditPart"
            name="Sum">
         <input
               class="org.eclipse.damos.library.base.ui.editparts.SumInputPortEditPart"
               name="input">
         </input>
      </editPart>
      <editPart
            blockType="damos.blocks.Round"
            class="org.eclipse.damos.library.base.ui.editparts.RoundEditPart"
            name="Round">
      </editPart>
      <editPart
            blockType="damos.blocks.Switch"
            class="org.eclipse.damos.library.base.ui.editparts.SwitchEditPart"
            name="Switch">
      </editPart>
      <editPart
            blockType="damos.blocks.Scope"
            class="org.eclipse.damos.library.base.ui.editparts.ScopeEditPart"
            name="Scope">
      </editPart>
      <editPart
            blockType="damos.blocks.XYScope"
            class="org.eclipse.damos.library.base.ui.editparts.XYScopeEditPart"
            name="X-Y Scope">
      </editPart>
      <editPart
            blockType="damos.blocks.AudioFileSink"
            class="org.eclipse.damos.library.base.ui.editparts.AudioFileSinkEditPart"
            name="Audio File Sink">
      </editPart>
      <editPart
            blockType="damos.blocks.Constant"
            class="org.eclipse.damos.library.base.ui.editparts.ConstantEditPart"
            name="Constant">
      </editPart>
      <editPart
            blockType="damos.blocks.SineWave"
            class="org.eclipse.damos.library.base.ui.editparts.SineWaveEditPart"
            name="SineWave">
      </editPart>
      <editPart
            blockType="damos.blocks.Step"
            class="org.eclipse.damos.library.base.ui.editparts.StepEditPart"
            name="Step">
      </editPart>
      <editPart
            blockType="damos.blocks.Ramp"
            class="org.eclipse.damos.library.base.ui.editparts.RampEditPart"
            name="Ramp">
      </editPart>
      <editPart
            blockType="damos.blocks.AudioFileSource"
            class="org.eclipse.damos.library.base.ui.editparts.AudioFileSourceEditPart"
            name="Audio File Source">
      </editPart>
      <editPart
            blockType="damos.blocks.DataOut"
            class="org.eclipse.damos.library.base.ui.editparts.DataOutEditPart"
            name="Data Out">
      </editPart>
      <editPart
            blockType="damos.blocks.EdgeCounter"
            class="org.eclipse.damos.library.base.ui.editparts.EdgeCounterEditPart"
            name="Edge Counter">
      </editPart>
      <editPart
            blockType="damos.blocks.NumericDataIn"
            class="org.eclipse.damos.library.base.ui.editparts.NumericDataInEditPart"
            name="Numeric Data In">
      </editPart>
   </extension>
   <extension
         point="org.eclipse.damos.dml.ui.blockImages">
      <image
            blockType="damos.blocks.Integrator"
            icon16="icons/continuous/Integrator16.png"
            icon24="icons/continuous/Integrator24.png">
      </image>
      <image
            blockType="damos.blocks.Derivative"
            icon16="icons/continuous/Derivative16.png"
            icon24="icons/continuous/Derivative24.png">
      </image>
      <image
            blockType="damos.blocks.TransferFunction"
            icon16="icons/continuous/TransferFunction16.png"
            icon24="icons/continuous/TransferFunction24.png">
      </image>
      <image
            blockType="damos.blocks.Saturation"
            icon16="icons/discontinuities/Saturation16.png"
            icon24="icons/discontinuities/Saturation24.png">
      </image>
      <image
            blockType="damos.blocks.Counter"
            icon16="icons/discrete/Counter16.png"
            icon24="icons/discrete/Counter24.png">
      </image>
      <image
            blockType="damos.blocks.EdgeCounter"
            icon16="icons/discrete/EdgeCounter16.png"
            icon24="icons/discrete/EdgeCounter24.png">
      </image>
      <image
            blockType="damos.blocks.Delay"
            icon16="icons/discrete/Delay16.png"
            icon24="icons/discrete/Delay24.png">
      </image>
      <image
            blockType="damos.blocks.DiscreteDerivative"
            icon16="icons/discrete/DiscreteDerivative16.png"
            icon24="icons/discrete/DiscreteDerivative24.png">
      </image>
      <image
            blockType="damos.blocks.DiscreteIntegrator"
            icon16="icons/discrete/DiscreteIntegrator16.png"
            icon24="icons/discrete/DiscreteIntegrator24.png">
      </image>
      <image
            blockType="damos.blocks.And"
            icon16="icons/logic/And16.png"
            icon24="icons/logic/And24.png">
      </image>
      <image
            blockType="damos.blocks.Compare"
            icon16="icons/logic/Compare16.png"
            icon24="icons/logic/Compare24.png">
      </image>
      <image
            blockType="damos.blocks.Inverter"
            icon16="icons/logic/Inverter16.png"
            icon24="icons/logic/Inverter24.png">
      </image>
      <image
            blockType="damos.blocks.Or"
            icon16="icons/logic/Or16.png"
            icon24="icons/logic/Or24.png">
      </image>
      <image
            blockType="damos.blocks.SchmittTrigger"
            icon16="icons/logic/SchmittTrigger16.png"
            icon24="icons/logic/SchmittTrigger24.png">
      </image>
      <image
            blockType="damos.blocks.Debounce"
            icon16="icons/logic/Debounce16.png"
            icon24="icons/logic/Debounce24.png">
      </image>
      <image
            blockType="damos.blocks.EdgeToggle"
            icon16="icons/logic/EdgeToggle16.png"
            icon24="icons/logic/EdgeToggle24.png">
      </image>
      <image
            blockType="damos.blocks.Gain"
            icon16="icons/math/Gain16.png"
            icon24="icons/math/Gain24.png">
      </image>
      <image
            blockType="damos.blocks.Round"
            icon16="icons/math/Round16.png"
            icon24="icons/math/Round24.png">
      </image>
      <image
            blockType="damos.blocks.Sum"
            icon16="icons/math/Sum16.png"
            icon24="icons/math/Sum24.png">
      </image>
      <image
            blockType="damos.blocks.Switch"
            icon16="icons/signal/Switch16.png"
            icon24="icons/signal/Switch24.png">
      </image>
      <image
            blockType="damos.blocks.Scope"
            icon16="icons/sinks/Scope16.png"
            icon24="icons/sinks/Scope24.png">
      </image>
      <image
            blockType="damos.blocks.XYScope"
            icon16="icons/sinks/XYScope16.png"
            icon24="icons/sinks/XYScope24.png">
      </image>
      <image
            blockType="damos.blocks.Constant"
            icon16="icons/sources/Constant16.png"
            icon24="icons/sources/Constant24.png">
      </image>
      <image
            blockType="damos.blocks.Ramp"
            icon16="icons/sources/Ramp16.png"
            icon24="icons/sources/Ramp24.png">
      </image>
      <image
            blockType="damos.blocks.SineWave"
            icon16="icons/sources/SineWave16.png"
            icon24="icons/sources/SineWave24.png">
      </image>
      <image
            blockType="damos.blocks.Step"
            icon16="icons/sources/Step16.png"
            icon24="icons/sources/Step24.png">
      </image>
      <image
            blockType="damos.blocks.AudioFileSink"
            icon16="icons/sinks/AudioFileSink16.png"
            icon24="icons/sinks/AudioFileSink24.png">
      </image>
      <image
            blockType="damos.blocks.AudioFileSource"
            icon16="icons/sources/AudioFileSource16.png"
            icon24="icons/sources/AudioFileSource24.png">
      </image>
      <image
            blockType="damos.blocks.Button"
            icon16="icons/io/Button16.png"
            icon24="icons/io/Button24.png">
      </image>
      <image
            blockType="damos.blocks.DataOut"
            icon16="icons/io/DataOut16.png"
            icon24="icons/io/DataOut24.png">
      </image>
      <image
            blockType="damos.blocks.NumericDataIn"
            icon16="icons/io/NumericDataIn16.png"
            icon24="icons/io/NumericDataIn24.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.damos.dml.ui.parameterEditPaneProviders">
      <provider
            class="org.eclipse.damos.library.base.ui.providers.AudioFileSinkEditPaneProvider">
      </provider>
      <provider
            class="org.eclipse.damos.library.base.ui.providers.AudioFileSourceEditPaneProvider">
      </provider>
   </extension>

</plugin>
