<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.yakindu.sct.simulation.core.extension" name="simulation.core.extension" schema="schema/org.yakindu.sct.simulation.core.extension.exsd"/>

	<!-- Launch configuration -->
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
    	<launchConfigurationType
          delegate="org.yakindu.sct.simulation.core.launch.StatechartLaunchConfigurationDelegate"
          id="org.yakindu.sct.simulation.core.launch.statechart"
          modes="run, debug"
          name="YAKINDU Statechart">
    	</launchConfigurationType>
	</extension>
	<!-- Breakpoints -->
	<extension point="org.eclipse.debug.core.breakpoints">
   		<breakpoint 
      		markerType="org.yakindu.sct.simulation.core.breakpoints"
      		class="org.yakindu.sct.simulation.core.breakpoints.SCTBreakpoint"
      		id="org.yakindu.sct.simulation.core.sct.breakpoints">
   		</breakpoint>
	</extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sruntime -->
      <package
            uri="http://www.yakindu.org/sct/sruntime/2.0.0"
            class="org.yakindu.sct.simulation.core.sruntime.SRuntimePackage"
            genModel="model/sruntime.genmodel"/>
   </extension>

</plugin>
