<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.esmp.dsm.codegen.c.generators">
      <generator
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Math/Gain.blocktype"
            name="Gain"
            template="org::esmp::dsm::library::math::codegen::c::templates::Gain::main">
      </generator>
      <generator
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Math/Sum.blocktype"
            name="Sum"
            template="org::esmp::dsm::library::math::codegen::c::templates::Sum::main">
      </generator>
   </extension>

</plugin>
