<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.esmp.org/dsm/ExecutionGraph/1.0.0"
            class="org.esmp.dsm.execution.executiongraph.ExecutionGraphPackage"
            genModel="model/ExecutionGraph.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="http://www.esmp.org/dsm/1.0.0/Execution/"
            target="platform:/plugin/org.esmp.dsm.execution/blockcategories/">
      </mapping>
   </extension>

</plugin>
