<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="http://www.eclipselabs.org/damos/library/vi/communication/"
            target="platform:/plugin/org.eclipse.damos.library.vi/blocks/">
      </mapping>
      <mapping
            source="http://www.eclipselabs.org/damos/library/vi/controls/"
            target="platform:/plugin/org.eclipse.damos.library.vi/blocks/">
      </mapping>
      <mapping
            source="http://www.eclipselabs.org/damos/library/vi/indicators/"
            target="platform:/plugin/org.eclipse.damos.library.vi/blocks/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.damos.dml.blockGroups">
      <group
            id="org.eclipse.damos.library.vi.communication"
            name="Communication"
            supergroup="org.eclipse.damos.library.vi">
      </group>
      <group
            id="org.eclipse.damos.library.vi.controls"
            name="Controls"
            supergroup="org.eclipse.damos.library.vi">
      </group>
      <group
            id="org.eclipse.damos.library.vi.indicators"
            name="Indicators"
            supergroup="org.eclipse.damos.library.vi">
      </group>
      <group
            id="org.eclipse.damos.library.vi"
            name="Damos Virtual Instruments">
         <language
               id="org.eclipse.damos">
         </language>
      </group>
   </extension>
   <extension
         point="org.eclipse.damos.dml.blockTypes">
      <blockType
            group="org.eclipse.damos.library.vi.communication"
            qualifiedName="damos.blocks.UDPSource"
            name="UDPSource"
            uri="http://www.eclipse.org/damos/blocks/UDPSource.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipse.damos.library.vi.communication"
            qualifiedName="damos.blocks.UDPSink"
            name="UDPSink"
            uri="http://www.eclipse.org/damos/blocks/UDPSink.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipse.damos.library.vi.controls"
            qualifiedName="damos.blocks.Button"
            name="Button"
            uri="http://www.eclipse.org/damos/blocks/Button.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipse.damos.library.vi.controls"
            qualifiedName="damos.blocks.Slider"
            name="Slider"
            uri="http://www.eclipse.org/damos/blocks/Slider.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipse.damos.library.vi.indicators"
            qualifiedName="damos.blocks.Gauge"
            name="Gauge"
            uri="http://www.eclipse.org/damos/blocks/Gauge.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipse.damos.library.vi.indicators"
            name="Display"
            qualifiedName="damos.blocks.Display"
            uri="http://www.eclipse.org/damos/blocks/Display.blocktype#/">
      </blockType>
   </extension>
   <extension
         point="org.eclipse.damos.execution.blockSignaturePolicies">
      <policy
            blockType="damos.blocks.UDPSource"
            class="org.eclipse.damos.library.vi.signaturepolicies.UDPSourceSignaturePolicy"
            name="UDPSource">
      </policy>
      <policy
            blockType="damos.blocks.UDPSink"
            class="org.eclipse.damos.library.vi.signaturepolicies.UDPSinkSignaturePolicy"
            name="UDPSink">
      </policy>
      <policy
            blockType="damos.blocks.Slider"
            class="org.eclipse.damos.library.vi.signaturepolicies.SliderSignaturePolicy"
            name="Slider">
      </policy>
      <policy
            blockType="damos.blocks.Button"
            class="org.eclipse.damos.library.vi.signaturepolicies.ButtonSignaturePolicy"
            name="Button">
      </policy>
      <policy
            blockType="damos.blocks.Gauge"
            class="org.eclipse.damos.library.vi.signaturepolicies.GaugeSignaturePolicy"
            name="Gauge">
      </policy>
      <policy
            blockType="damos.blocks.Display"
            class="org.eclipse.damos.library.vi.signaturepolicies.DisplaySignaturePolicy"
            name="Display">
      </policy>
   </extension>

</plugin>
