<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="injectorProviders" name="Injector Providers" schema="schema/injectorProviders.exsd"/>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipselabs.damos.dml.ui.blockTypeWizard"
            name="%_UI_BlockTypeModelWizard_label"
            class="org.eclipselabs.damos.dml.ui.editor.presentation.BlockTypeWizard"
            category="org.eclipselabs.damos.ide.ui.damosCategory"
            icon="icons/full/obj16/BlockTypeFile.gif">
         <description>%_UI_BlockTypeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <wizard
            category="org.eclipselabs.damos.ide.ui.damosCategory"
            class="org.eclipselabs.damos.dml.ui.editor.presentation.CategoryWizard"
            icon="icons/full/obj16/CategoryFile.gif"
            id="org.eclipselabs.damos.dml.ui.categoryWizard"
            name="%_UI_CategoryModelWizard_label">
         <description>
            %_UI_CategoryModelWizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipselabs.damos.dml.ui.editor.presentation.DMLEditor"
            contributorClass="org.eclipselabs.damos.dml.ui.editor.presentation.DMLActionBarContributor"
            extensions="dml"
            icon="icons/full/obj16/DMLModelFile.gif"
            id="org.eclipselabs.damos.dml.ui.dmlModelEditor"
            name="%_UI_DMLEditor_label">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipselabs.damos.dml.ui.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipselabs.damos.dml.ui.properties">
         <propertyTab
               category="default"
               id="org.eclipselabs.damos.dml.ui.tabs.general"
               label="General">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipselabs.damos.dml.ui.tabs.general"
               category="default"
               id="org.eclipselabs.damos.dml.ui.tabs.parameters"
               label="Parameters">
         </propertyTab>
      </propertyTabs>
   </extension>
   
<!--
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipselabs.damos.dml.ui.properties">
         <propertySection
               class="org.eclipselabs.damos.dml.ui.internal.properties.GeneralPropertySection"
               enablesFor="1"
               filter="org.eclipselabs.damos.dml.ui.internal.properties.GeneralPropertySectionFilter"
               id="org.eclipselabs.damos.dml.ui.sections.blockName"
               tab="org.eclipselabs.damos.dml.ui.tabs.general">
         </propertySection>
         <propertySection
               afterSection="org.eclipselabs.damos.dml.ui.sections.blockName"
               class="org.eclipselabs.damos.dml.ui.internal.properties.TimingPropertySection"
               enablesFor="1"
               filter="org.eclipselabs.damos.dml.ui.internal.properties.TimingPropertySectionFilter"
               id="org.eclipselabs.damos.dml.ui.sections.timingConstraint"
               tab="org.eclipselabs.damos.dml.ui.tabs.general">
         </propertySection>
         <propertySection
               afterSection="org.eclipselabs.damos.dml.ui.sections.timingConstraint"
               class="org.eclipselabs.damos.dml.ui.internal.properties.InoutportDataTypePropertySection"
               enablesFor="1"
               filter="org.eclipselabs.damos.dml.ui.internal.properties.InoutportDataTypePropertySectionFilter"
               id="org.eclipselabs.damos.dml.ui.sections.inoutportDataType"
               tab="org.eclipselabs.damos.dml.ui.tabs.general">
         </propertySection>
         <propertySection
               afterSection="org.eclipselabs.damos.dml.ui.sections.timingConstraint"
               class="org.eclipselabs.damos.dml.ui.internal.properties.LatchPropertySection"
               enablesFor="1"
               filter="org.eclipselabs.damos.dml.ui.internal.properties.LatchPropertySectionFilter"
               id="org.eclipselabs.damos.dml.ui.sections.latch"
               tab="org.eclipselabs.damos.dml.ui.tabs.general">
         </propertySection>
         <propertySection
               class="org.eclipselabs.damos.dml.ui.internal.properties.ParametersPropertySection"
               enablesFor="1"
               filter="org.eclipselabs.damos.dml.ui.internal.properties.ParametersPropertySectionFilter"
               id="org.eclipselabs.damos.dml.ui.sections.parameters"
               tab="org.eclipselabs.damos.dml.ui.tabs.parameters">
         </propertySection>
      </propertySections>
   </extension>
-->
</plugin>
