<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.esmp.dsm.simulation.simulationModels">
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/And.blocktype"
            class="org.esmp.dsm.library.logic.simulation.AndSimulationModel"
            name="And">
      </simulationModel>
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/Or.blocktype"
            class="org.esmp.dsm.library.logic.simulation.OrSimulationModel"
            name="Or">
      </simulationModel>
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/Inverter.blocktype"
            class="org.esmp.dsm.library.logic.simulation.InverterSimulationModel"
            name="Inverter">
      </simulationModel>
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/Compare.blocktype"
            class="org.esmp.dsm.library.logic.simulation.CompareSimulationModel"
            name="Compare">
      </simulationModel>
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/SchmittTrigger.blocktype"
            class="org.esmp.dsm.library.logic.simulation.SchmittTriggerSimulationModel"
            name="SchmittTrigger">
      </simulationModel>
   </extension>

</plugin>
