<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.esmp.dsm.simulation.simulationModels">
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Math/Gain.blocktype"
            class="org.esmp.dsm.library.math.simulation.GainSimulationModel"
            name="Gain">
      </simulationModel>
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Math/Sum.blocktype"
            class="org.esmp.dsm.library.math.simulation.SumSimulationModel"
            name="Sum">
      </simulationModel>
   </extension>

</plugin>
