<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="viewFactories" name="View Factories" schema="schema/viewFactories.exsd"/>
   <extension-point id="editParts" name="EditParts" schema="schema/editParts.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.esmp.dsm.diagram.ui.preferences.BlockDiagramPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.esmp.dsm.diagram.ui.parts.BlockDiagramEditor"
            contributorClass="org.esmp.dsm.diagram.ui.parts.BlockDiagramActionBarContributor"
            default="true"
            extensions="blockdiagram"
            icon="icons/blockdiagram.gif"
            id="org.esmp.dsm.diagram.ui.blockDiagramEditor"
            matchingStrategy="org.eclipse.gmf.runtime.diagram.ui.resources.editor.parts.DiagramDocumentEditorMatchingStrategy"
            name="Block Diagram Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.esmp.dsm.category"
            name="Dynamical Systems Modeler">
      </category>
      <wizard
            category="org.esmp.dsm.category"
            class="org.esmp.dsm.diagram.ui.wizards.BlockDiagramEditorCreationWizard"
            icon="icons/blockdiagram.gif"
            id="org.esmp.dsm.diagram.ui.blockDiagramWizard"
            name="Block Diagram">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="true"
            class="org.esmp.dsm.diagram.ui.actions.ContributionItemProvider">
         <Priority
               name="Low">
         </Priority>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupPredefinedItem
                  id="deleteFromDiagramAction"
                  remove="true">
            </popupPredefinedItem></popupContribution>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  policyClass="org.esmp.dsm.diagram.ui.actions.TransformablePopupMenuContributionPolicy">
            </popupStructuredContributionCriteria>
            <popupMenuGroup
                  id="transformBlockMenuGroup"
                  separator="true">
            </popupMenuGroup>
            <popupAction
                  id="flipBlockAction"
                  path="/transformBlockMenuGroup">
            </popupAction>
            <popupAction
                  id="rotateBlockAction"
                  path="/transformBlockMenuGroup">
            </popupAction>
            <popupAction
                  id="resetFlipAndRotateBlockAction"
                  path="/transformBlockMenuGroup">
            </popupAction>
         </popupContribution>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  policyClass="org.esmp.dsm.diagram.ui.actions.AdjustableInputCountPopupMenuContributionPolicy">
            </popupStructuredContributionCriteria>
            <popupMenuGroup
                  id="adjustInputCountMenuGroup"
                  separator="true">
            </popupMenuGroup>
            <popupAction
                  id="addInputAction"
                  path="/adjustInputCountMenuGroup">
            </popupAction>
            <popupAction
                  id="removeInputAction"
                  path="/adjustInputCountMenuGroup">
            </popupAction>
         </popupContribution>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  policyClass="org.esmp.dsm.diagram.ui.actions.AdjustableOutputCountPopupMenuContributionPolicy">
            </popupStructuredContributionCriteria>
            <popupMenuGroup
                  id="adjustOutputCountMenuGroup"
                  separator="true">
            </popupMenuGroup>
            <popupAction
                  id="addOutputAction"
                  path="/adjustOutputCountMenuGroup">
            </popupAction>
            <popupAction
                  id="removeOutputAction"
                  path="/adjustOutputCountMenuGroup">
            </popupAction>
         </popupContribution>
      </contributionItemProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider
            class="org.esmp.dsm.diagram.ui.internal.services.ViewProvider">
         <Priority
               name="Lowest">
         </Priority>
      </viewProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.esmp.dsm.diagram.ui.internal.services.EditPartProvider">
         <Priority
               name="Lowest">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider"
            >
         <Priority
               name="Lowest">
         </Priority>
         <editor
               id="org.esmp.dsm.diagram.ui.blockDiagramEditor">
         </editor>
         <contribution
               factoryClass="org.esmp.dsm.diagram.ui.services.PaletteFactory">
            <entry
                  description="General diagram elements"
                  id="org.esmp.dsm.diagram.generalDrawer"
                  kind="drawer"
                  label="General"
                  path="/">
               <expand
                     force="true">
               </expand>
            </entry>
            <entry
                  description="Create a connection"
                  id="org.esmp.dsm.diagram.connection"
                  kind="tool"
                  label="Connection"
                  path="/org.esmp.dsm.diagram.generalDrawer">
            </entry>
         </contribution>
      </paletteProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.esmp.dsm.diagram.ui">
         <propertyCategory
               category="domain">
         </propertyCategory>
         <propertyCategory
               category="visual">
         </propertyCategory>
         <propertyCategory
               category="extra">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.esmp.dsm.diagram.ui">
         <propertyTab
               category="domain"
               id="org.esmp.dsm.diagram.tab.general"
               label="General">
         </propertyTab>
         <propertyTab
               afterTab="org.esmp.dsm.diagram.tab.general"
               category="domain"
               id="org.esmp.dsm.diagram.tab.parameters"
               label="Parameters">
         </propertyTab>
         <propertyTab
               afterTab="org.esmp.dsm.diagram.tab.parameters"
               category="visual"
               id="org.esmp.dsm.diagram.tab.appearance"
               label="Appearance">
         </propertyTab>
         <propertyTab
               afterTab="org.esmp.dsm.diagram.tab.appearance"
               category="visual"
               id="org.esmp.dsm.diagram.tab.diagram"
               label="Rulers &amp; Grid">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.esmp.dsm.diagram.ui">
         <propertySection
               class="org.esmp.dsm.diagram.ui.internal.properties.BlockNamePropertySection"
               enablesFor="1"
               id="org.esmp.dsm.diagram.section.blockName"
               tab="org.esmp.dsm.diagram.tab.general">
            <input
                  type="org.esmp.dsm.diagram.ui.editparts.BlockEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.esmp.dsm.diagram.ui.internal.properties.ParametersPropertySection"
               enablesFor="1"
               filter="org.esmp.dsm.diagram.ui.internal.properties.ParametersPropertySectionFilter"
               id="org.esmp.dsm.diagram.section.parameters"
               tab="org.esmp.dsm.diagram.tab.parameters">
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter"
               id="org.esmp.dsm.diagram.section.diagramColorsAndFonts"
               tab="org.esmp.dsm.diagram.tab.appearance">
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter"
               id="org.esmp.dsm.diagram.section.rulerGrid"
               tab="org.esmp.dsm.diagram.tab.diagram">
         </propertySection>
         <propertySection
               class="org.esmp.dsm.diagram.ui.internal.properties.ShowBlockNamePropertySection"
               id="org.esmp.dsm.diagram.section.showName"
               tab="org.esmp.dsm.diagram.tab.appearance">
            <input
                  type="org.esmp.dsm.diagram.ui.editparts.BlockEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter"
               id="org.esmp.dsm.diagram.section.connectionAppearance"
               tab="org.esmp.dsm.diagram.tab.appearance">
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter"
               id="org.esmp.dsm.diagram.section.shapeColorsAndFonts"
               tab="org.esmp.dsm.diagram.tab.appearance">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
