<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipselabs.damos.diagram.ui.blockEditParts">
      <editPart
            blockType="org.eclipselabs.damos.library.vi.controls.Slider"
            class="org.eclipselabs.damos.library.vi.ui.editparts.controls.SliderEditPart"
            name="Slider">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.vi.indicators.Gauge"
            class="org.eclipselabs.damos.library.vi.ui.editparts.indicators.GaugeEditPart"
            name="Gauge">
      </editPart>
   </extension>

</plugin>
