<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.esmp.dsm.simulation.simulationModels">
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Discontinuities/Saturation.blocktype"
            class="org.esmp.dsm.library.discontinuities.simulation.SaturationSimulationModel"
            name="Saturation">
      </simulationModel>
   </extension>

</plugin>
