<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="simulationListeners" name="Simulation Listeners" schema="schema/simulationListeners.exsd"/>
   <extension
         point="org.eclipselabs.damos.dconfig.definitions">
      <resource
            uri="platform:/plugin/org.eclipselabs.damos.simulation/dconfig/Simulation.xmi">
      </resource>
   </extension>
</plugin>
