<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.damos.diagram.ui.blockEditParts">
      <editPart
            blockType="damos.blocks.Slider"
            class="org.eclipse.damos.library.vi.ui.editparts.controls.SliderEditPart"
            name="Slider">
      </editPart>
      <editPart
            blockType="damos.blocks.Button"
            class="org.eclipse.damos.library.vi.ui.editparts.controls.ButtonEditPart"
            name="Button">
      </editPart>
      <editPart
            blockType="damos.blocks.Gauge"
            class="org.eclipse.damos.library.vi.ui.editparts.indicators.GaugeEditPart"
            name="Gauge">
      </editPart>
      <editPart
            blockType="damos.blocks.Display"
            class="org.eclipse.damos.library.vi.ui.editparts.indicators.DisplayEditPart"
            name="Display">
      </editPart>
   </extension>

</plugin>
