<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.esmp.dsm.simulation.simulationModels">
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Structure/Inport.blocktype"
            class="org.esmp.dsm.library.structure.simulation.InportSimulationModel"
            name="Inport">
      </simulationModel>
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Structure/Outport.blocktype"
            class="org.esmp.dsm.library.structure.simulation.OutportSimulationModel"
            name="Outport">
      </simulationModel>
   </extension>

</plugin>
