<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.esmp.dsm.codegen.c.generators">
      <generator
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/And.blocktype"
            name="And"
            template="org::esmp::dsm::library::logic::codegen::c::templates::And::main">
      </generator>
      <generator
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/Or.blocktype"
            name="Or"
            template="org::esmp::dsm::library::logic::codegen::c::templates::Or::main">
      </generator>
      <generator
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/Inverter.blocktype"
            name="Inverter"
            template="org::esmp::dsm::library::logic::codegen::c::templates::Inverter::main">
      </generator>
      <generator
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/Compare.blocktype"
            name="Compare"
            template="org::esmp::dsm::library::logic::codegen::c::templates::Compare::main">
      </generator>
      <generator
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/SchmittTrigger.blocktype"
            name="Schmitt Trigger"
            template="org::esmp::dsm::library::logic::codegen::c::templates::SchmittTrigger::main">
      </generator>
   </extension>

</plugin>
