<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory"
            type="blockdiagram">
      </parser>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://www.esmp.org/dsm/BlockDiagram/1.0.0">
         <metamodelType
               eclass="BlockDiagram"
               edithelper="org.esmp.dsm.diagram.core.internal.edithelper.BlockDiagramEditHelper"
               id="org.esmp.dsm.diagram.blockDiagram"
               name="Block Diagram">
         </metamodelType>
         <metamodelType
               eclass="Connection"
               edithelper="org.esmp.dsm.diagram.core.internal.edithelper.ConnectionEditHelper"
               id="org.esmp.dsm.diagram.connection"
               name="Connection">
         </metamodelType>
         <metamodelType
               eclass="Block"
               edithelper="org.esmp.dsm.diagram.core.internal.edithelper.BlockEditHelper"
               id="org.esmp.dsm.diagram.block"
               kind="block"
               name="Block">
         </metamodelType>
         <metamodelType
               eclass="Input"
               edithelper="org.esmp.dsm.diagram.core.internal.edithelper.InputEditHelper"
               id="org.esmp.dsm.diagram.input"
               name="Input">
         </metamodelType>
         <metamodelType
               eclass="Output"
               edithelper="org.esmp.dsm.diagram.core.internal.edithelper.OutputEditHelper"
               id="org.esmp.dsm.diagram.output"
               name="Output">
         </metamodelType>
         <metamodelType
               eclass="Port"
               edithelper="org.esmp.dsm.diagram.core.internal.edithelper.PortEditHelper"
               id="org.esmp.dsm.diagram.port"
               name="Port">
         </metamodelType>
         <metamodelType
               eclass="InputPort"
               edithelper="org.esmp.dsm.diagram.core.internal.edithelper.InputPortEditHelper"
               id="org.esmp.dsm.diagram.inputPort"
               name="Input Port">
         </metamodelType>
         <metamodelType
               eclass="OutputPort"
               edithelper="org.esmp.dsm.diagram.core.internal.edithelper.OutputPortEditHelper"
               id="org.esmp.dsm.diagram.outputPort"
               name="Output Port">
         </metamodelType>
         <metamodelType
               eclass="Parameter"
               id="org.esmp.dsm.diagram.parameter"
               name="Parameter">
         </metamodelType>
      </metamodel>
      <elementTypeFactory
            factory="org.esmp.dsm.diagram.core.internal.type.BlockElementTypeFactory"
            kind="block">
      </elementTypeFactory>
   </extension>

</plugin>
