<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.xtext.extension_resourceServiceProvider">
     <resourceServiceProvider
           class="com.yakindu.statechart.model.xtextindex.StatemachineServiceProvider"
           uriExtension="statemachine">
     </resourceServiceProvider>
  </extension>

</plugin>
