<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="http://www.eclipselabs.org/damos/library/1.0.0/"
            target="platform:/plugin/org.eclipselabs.damos.library.base/blocktypes/">
      </mapping>
   </extension>
   <extension
         point="org.eclipselabs.damos.dml.blockGroups">
      <group
            id="org.eclipselabs.damos.library.base.continuousGroup"
            name="Continuous">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.discontinuitiesGroup"
            name="Discontinuities">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.discreteGroup"
            name="Discrete">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.logicGroup"
            name="Logic">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.mathGroup"
            name="Math">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.signalGroup"
            name="Signal">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.sinksGroup"
            name="Sinks">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.sourcesGroup"
            name="Sources">
      </group>
   </extension>
   <extension
         point="org.eclipselabs.damos.dml.blockTypes">
      <blockType
            group="org.eclipselabs.damos.library.base.continuousGroup"
            qualifiedName="org::eclipselabs::damos::library::base::continuous::TransferFunction"
            name="Transfer Function"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/continuous/TransferFunction.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.discontinuitiesGroup"
            qualifiedName="org::eclipselabs::damos::library::base::discontinuities::Saturation"
            name="Saturation"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/discontinuities/Saturation.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.discreteGroup"
            qualifiedName="org::eclipselabs::damos::library::base::discrete::Delay"
            name="Delay"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/discrete/Delay.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.discreteGroup"
            qualifiedName="org::eclipselabs::damos::library::base::discrete::DiscreteDerivative"
            name="Discrete Derivative"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/discrete/DiscreteDerivative.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.discreteGroup"
            qualifiedName="org::eclipselabs::damos::library::base::discrete::DiscreteIntegrator"
            name="Discrete Integrator"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/discrete/DiscreteIntegrator.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.logicGroup"
            qualifiedName="org::eclipselabs::damos::library::base::logic::And"
            name="And"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/logic/And.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.logicGroup"
            qualifiedName="org::eclipselabs::damos::library::base::logic::Or"
            name="Or"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/logic/Or.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.logicGroup"
            qualifiedName="org::eclipselabs::damos::library::base::logic::Inverter"
            name="Inverter"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/logic/Inverter.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.logicGroup"
            qualifiedName="org::eclipselabs::damos::library::base::logic::Compare"
            name="Compare"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/logic/Compare.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.logicGroup"
            qualifiedName="org::eclipselabs::damos::library::base::logic::SchmittTrigger"
            name="Schmitt Trigger"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/logic/SchmittTrigger.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.mathGroup"
            qualifiedName="org::eclipselabs::damos::library::base::math::Gain"
            name="Gain"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/math/Gain.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.mathGroup"
            qualifiedName="org::eclipselabs::damos::library::base::math::Sum"
            name="Sum"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/math/Sum.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.signalGroup"
            qualifiedName="org::eclipselabs::damos::library::base::signal::Switch"
            name="Switch"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/signal/Switch.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.sinksGroup"
            qualifiedName="org::eclipselabs::damos::library::base::sinks::Scope"
            name="Scope"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/sinks/Scope.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.sourcesGroup"
            qualifiedName="org::eclipselabs::damos::library::base::sources::Constant"
            name="Constant"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/sources/Constant.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.sourcesGroup"
            qualifiedName="org::eclipselabs::damos::library::base::sources::Ramp"
            name="Ramp"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/sources/Ramp.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.sourcesGroup"
            qualifiedName="org::eclipselabs::damos::library::base::sources::SineWave"
            name="Sine Wave"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/sources/SineWave.blocktype.dml#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.sourcesGroup"
            qualifiedName="org::eclipselabs::damos::library::base::sources::Step"
            name="Step"
            uri="http://www.eclipselabs.org/damos/library/1.0.0/sources/Step.blocktype.dml#/">
      </blockType>
   </extension>
   <extension
         point="org.eclipselabs.damos.evaluation.blockSignaturePolicies">
      <policy
            blockType="org::eclipselabs::damos::library::base::continuous::TransferFunction"
            class="org.eclipselabs.damos.library.base.continuous.policies.TransferFunctionSignaturePolicy"
            name="Transfer Function">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::discontinuities::Saturation"
            class="org.eclipselabs.damos.library.base.discontinuities.policies.SaturationSignaturePolicy"
            name="Saturation">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::discrete::Delay"
            class="org.eclipselabs.damos.library.base.discrete.policies.DelaySignaturePolicy"
            name="Delay">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::discrete::DiscreteDerivative"
            class="org.eclipselabs.damos.library.base.discrete.policies.DiscreteDerivativeSignaturePolicy"
            name="Discrete Derivative">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::logic::And"
            class="org.eclipselabs.damos.library.base.logic.policies.LogicGateSignaturePolicy"
            name="And">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::logic::Or"
            class="org.eclipselabs.damos.library.base.logic.policies.LogicGateSignaturePolicy"
            name="Or">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::logic::Inverter"
            class="org.eclipselabs.damos.library.base.logic.policies.LogicGateSignaturePolicy"
            name="Inverter">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::logic::Compare"
            class="org.eclipselabs.damos.library.base.logic.policies.CompareSignaturePolicy"
            name="Compare">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::logic::SchmittTrigger"
            class="org.eclipselabs.damos.library.base.logic.policies.SchmittTriggerSignaturePolicy"
            name="Schmitt Trigger">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::signal::Switch"
            class="org.eclipselabs.damos.library.base.signal.policies.SwitchSignaturePolicy"
            name="Switch">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::sinks::Scope"
            class="org.eclipselabs.damos.library.base.sinks.policies.ScopeSignaturePolicy"
            name="Scope">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::sources::Step"
            class="org.eclipselabs.damos.library.base.sources.policies.StepSignaturePolicy"
            name="Step">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::sources::Constant"
            class="org.eclipselabs.damos.library.base.sources.policies.ConstantSignaturePolicy"
            name="Constant">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::sources::Ramp"
            class="org.eclipselabs.damos.library.base.sources.policies.RampSignaturePolicy"
            name="Ramp">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::sources::SineWave"
            class="org.eclipselabs.damos.library.base.sources.policies.SineWaveSignaturePolicy"
            name="Sine Wave">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::math::Gain"
            class="org.eclipselabs.damos.library.base.math.policies.GainSignaturePolicy"
            name="Gain">
      </policy>
      <policy
            blockType="org::eclipselabs::damos::library::base::math::Sum"
            class="org.eclipselabs.damos.library.base.math.policies.SumSignaturePolicy"
            name="Sum">
      </policy>
   </extension>

</plugin>
