<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="http://www.eclipselabs.org/damos/library/"
            target="platform:/plugin/org.eclipselabs.damos.library.base/blocktypes/">
      </mapping>
   </extension>
   <extension
         point="org.eclipselabs.damos.dml.blockGroups">
      <group
            id="org.eclipselabs.damos.library.base.continuous"
            name="Continuous"
            supergroup="org.eclipselabs.damos.library.base">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.discontinuities"
            name="Discontinuities"
            supergroup="org.eclipselabs.damos.library.base">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.discrete"
            name="Discrete"
            supergroup="org.eclipselabs.damos.library.base">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.asynchronous"
            name="Asynchronous"
            supergroup="org.eclipselabs.damos.library.base.discrete">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.io"
            name="I/O"
            supergroup="org.eclipselabs.damos.library.base">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.logic"
            name="Logic"
            supergroup="org.eclipselabs.damos.library.base">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.math"
            name="Math"
            supergroup="org.eclipselabs.damos.library.base">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.signal"
            name="Signal"
            supergroup="org.eclipselabs.damos.library.base">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.sinks"
            name="Sinks"
            supergroup="org.eclipselabs.damos.library.base">
      </group>
      <group
            id="org.eclipselabs.damos.library.base.sources"
            name="Sources"
            supergroup="org.eclipselabs.damos.library.base">
      </group>
      <group
            id="org.eclipselabs.damos.library.base"
            name="Damos Base">
         <language
               id="org.eclipselabs.damos">
         </language>
      </group>
   </extension>
   <extension
         point="org.eclipselabs.damos.dml.blockTypes">
      <blockType
            group="org.eclipselabs.damos.library.base.continuous"
            name="Integrator"
            qualifiedName="damos.library.base.continuous.Integrator"
            uri="http://www.eclipselabs.org/damos/library/continuous/Integrator.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.continuous"
            name="Derivative"
            qualifiedName="damos.library.base.continuous.Derivative"
            uri="http://www.eclipselabs.org/damos/library/continuous/Derivative.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.continuous"
            qualifiedName="damos.library.base.continuous.TransferFunction"
            name="Transfer Function"
            uri="http://www.eclipselabs.org/damos/library/continuous/TransferFunction.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.discontinuities"
            qualifiedName="damos.library.base.discontinuities.Saturation"
            name="Saturation"
            uri="http://www.eclipselabs.org/damos/library/discontinuities/Saturation.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.discrete"
            qualifiedName="damos.library.base.discrete.Delay"
            name="Delay"
            uri="http://www.eclipselabs.org/damos/library/discrete/Delay.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.discrete"
            qualifiedName="damos.library.base.discrete.DiscreteDerivative"
            name="Discrete Derivative"
            uri="http://www.eclipselabs.org/damos/library/discrete/DiscreteDerivative.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.discrete"
            qualifiedName="damos.library.base.discrete.DiscreteIntegrator"
            name="Discrete Integrator"
            uri="http://www.eclipselabs.org/damos/library/discrete/DiscreteIntegrator.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.asynchronous"
            name="Counter"
            qualifiedName="damos.library.base.discrete.Counter"
            uri="http://www.eclipselabs.org/damos/library/discrete/Counter.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.discrete"
            name="Edge Counter"
            qualifiedName="damos.library.base.discrete.EdgeCounter"
            uri="http://www.eclipselabs.org/damos/library/discrete/EdgeCounter.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.logic"
            qualifiedName="damos.library.base.logic.And"
            name="And"
            uri="http://www.eclipselabs.org/damos/library/logic/And.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.logic"
            qualifiedName="damos.library.base.logic.Or"
            name="Or"
            uri="http://www.eclipselabs.org/damos/library/logic/Or.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.logic"
            qualifiedName="damos.library.base.logic.Inverter"
            name="Inverter"
            uri="http://www.eclipselabs.org/damos/library/logic/Inverter.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.logic"
            qualifiedName="damos.library.base.logic.Compare"
            name="Compare"
            uri="http://www.eclipselabs.org/damos/library/logic/Compare.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.logic"
            qualifiedName="damos.library.base.logic.SchmittTrigger"
            name="Schmitt Trigger"
            uri="http://www.eclipselabs.org/damos/library/logic/SchmittTrigger.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.logic"
            name="Edge Toggle"
            qualifiedName="damos.library.base.logic.EdgeToggle"
            uri="http://www.eclipselabs.org/damos/library/logic/EdgeToggle.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.logic"
            name="Debounce"
            qualifiedName="damos.library.base.logic.Debounce"
            uri="http://www.eclipselabs.org/damos/library/logic/Debounce.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.math"
            qualifiedName="damos.library.base.math.Gain"
            name="Gain"
            uri="http://www.eclipselabs.org/damos/library/math/Gain.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.math"
            qualifiedName="damos.library.base.math.Sum"
            name="Sum"
            uri="http://www.eclipselabs.org/damos/library/math/Sum.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.math"
            qualifiedName="damos.library.base.math.Round"
            name="Round"
            uri="http://www.eclipselabs.org/damos/library/math/Round.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.signal"
            qualifiedName="damos.library.base.signal.Switch"
            name="Switch"
            uri="http://www.eclipselabs.org/damos/library/signal/Switch.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.sinks"
            qualifiedName="damos.library.base.sinks.Scope"
            name="Scope"
            uri="http://www.eclipselabs.org/damos/library/sinks/Scope.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.sinks"
            name="X-Y Scope"
            qualifiedName="damos.library.base.sinks.XYScope"
            uri="http://www.eclipselabs.org/damos/library/sinks/XYScope.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.sinks"
            name="Audio File Sink"
            qualifiedName="damos.library.base.sinks.AudioFileSink"
            uri="http://www.eclipselabs.org/damos/library/sinks/AudioFileSink.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.sources"
            qualifiedName="damos.library.base.sources.Constant"
            name="Constant"
            uri="http://www.eclipselabs.org/damos/library/sources/Constant.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.sources"
            qualifiedName="damos.library.base.sources.Ramp"
            name="Ramp"
            uri="http://www.eclipselabs.org/damos/library/sources/Ramp.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.sources"
            qualifiedName="damos.library.base.sources.SineWave"
            name="Sine Wave"
            uri="http://www.eclipselabs.org/damos/library/sources/SineWave.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.sources"
            qualifiedName="damos.library.base.sources.Step"
            name="Step"
            uri="http://www.eclipselabs.org/damos/library/sources/Step.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.sources"
            name="Audio File Source"
            qualifiedName="damos.library.base.sources.AudioFileSource"
            uri="http://www.eclipselabs.org/damos/library/sources/AudioFileSource.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.io"
            name="Button"
            qualifiedName="damos.library.base.io.Button"
            uri="http://www.eclipselabs.org/damos/library/io/Button.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.io"
            name="Data Out"
            qualifiedName="damos.library.base.io.DataOut"
            uri="http://www.eclipselabs.org/damos/library/io/DataOut.blocktype#/">
      </blockType>
      <blockType
            group="org.eclipselabs.damos.library.base.io"
            name="Numeric Data In"
            qualifiedName="damos.library.base.io.NumericDataIn"
            uri="http://www.eclipselabs.org/damos/library/io/NumericDataIn.blocktype#/">
      </blockType>
   </extension>
   <extension
         point="org.eclipselabs.damos.execution.blockSignaturePolicies">
      <policy
            blockType="damos.library.base.sinks.Scope"
            class="org.eclipselabs.damos.library.base.signaturepolicies.sinks.ScopeSignaturePolicy"
            name="Scope">
      </policy>
      <policy
            blockType="damos.library.base.sinks.XYScope"
            class="org.eclipselabs.damos.library.base.signaturepolicies.sinks.XYScopeSignaturePolicy"
            name="X-Y Scope">
      </policy>
      <policy
            blockType="damos.library.base.sinks.AudioFileSink"
            class="org.eclipselabs.damos.library.base.signaturepolicies.sinks.AudioFileSinkSignaturePolicy"
            name="Audio File Sink">
      </policy>
      <policy
            blockType="damos.library.base.sources.Step"
            class="org.eclipselabs.damos.library.base.signaturepolicies.sources.StepSignaturePolicy"
            name="Step">
      </policy>
      <policy
            blockType="damos.library.base.sources.Ramp"
            class="org.eclipselabs.damos.library.base.signaturepolicies.sources.RampSignaturePolicy"
            name="Ramp">
      </policy>
      <policy
            blockType="damos.library.base.sources.SineWave"
            class="org.eclipselabs.damos.library.base.signaturepolicies.sources.SineWaveSignaturePolicy"
            name="Sine Wave">
      </policy>
      <policy
            blockType="damos.library.base.sources.AudioFileSource"
            class="org.eclipselabs.damos.library.base.signaturepolicies.sources.AudioFileSourceSignaturePolicy"
            name="Audio File Source">
      </policy>
      <policy
            blockType="damos.library.base.io.Button"
            class="org.eclipselabs.damos.library.base.signaturepolicies.io.ButtonSignaturePolicy"
            name="Button">
      </policy>
      <policy
            blockType="damos.library.base.io.DataOut"
            class="org.eclipselabs.damos.library.base.signaturepolicies.io.DataOutSignaturePolicy"
            name="Data Out">
      </policy>
      <policy
            blockType="damos.library.base.io.NumericDataIn"
            class="org.eclipselabs.damos.library.base.signaturepolicies.io.NumericDataInSignaturePolicy"
            name="Numeric Data In">
      </policy>
   </extension>

</plugin>
