<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.damos.simulation.simulator.blockSimulationObjects">
      <simulationObject
            blockType="damos.blocks.Step"
            class="org.eclipse.damos.library.base.simulation.sources.StepSimulationObject"
            name="Step">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.Ramp"
            class="org.eclipse.damos.library.base.simulation.sources.RampSimulationObject"
            name="Ramp">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.SineWave"
            class="org.eclipse.damos.library.base.simulation.sources.SineWaveSimulationObject"
            name="Sine Wave">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.Scope"
            class="org.eclipse.damos.library.base.simulation.sinks.ScopeSimulationObject"
            name="Scope">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.XYScope"
            class="org.eclipse.damos.library.base.simulation.sinks.XYScopeSimulationObject"
            name="X-Y Scope">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.AudioFileSource"
            class="org.eclipse.damos.library.base.simulation.sources.AudioFileSourceSimulationObject"
            name="Audio File Source">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.AudioFileSink"
            class="org.eclipse.damos.library.base.simulation.sinks.AudioFileSinkSimulationObject"
            name="Audio File Sink">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.Button"
            class="org.eclipse.damos.library.base.simulation.io.ButtonSimulationObject"
            name="Button">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.DataOut"
            class="org.eclipse.damos.library.base.simulation.io.DataOutSimulationObject"
            name="Data Out">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.NumericDataIn"
            class="org.eclipse.damos.library.base.simulation.io.NumericDataInSimulationObject"
            name="Numeric Data In">
      </simulationObject>
   </extension>

</plugin>
