<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="componentSimulationObjectProviders" name="Component Simulation Object Providers" schema="schema/componentSimulationObjectProviders.exsd"/>
   <extension-point id="blockSimulationObjects" name="Block Simulation Objects" schema="schema/blockSimulationObjects.exsd"/>
   <extension
         point="org.eclipselabs.damos.simulation.engine.componentSimulationObjectProviders">
      <provider
            class="org.eclipselabs.damos.simulation.engine.internal.registry.BlockSimulationObjectProvider">
      </provider>
      <provider
            class="org.eclipselabs.damos.simulation.engine.internal.providers.BehavioredBlockSimulationObjectProvider">
      </provider>
   </extension>

</plugin>
