<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="http://www.esmp.org/dsm/1.0.0/Library/Discrete/"
            target="platform:/plugin/org.esmp.dsm.library.discrete/blocktypes/">
      </mapping>
   </extension>

</plugin>
