<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.esmp.dsm.codegen.c.generators">
      <generator
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Signal/DataTypeConversion.blocktype"
            name="Data Type Conversion"
            template="org::esmp::dsm::library::signal::codegen::c::templates::DataTypeConversion::main">
      </generator>
      <generator
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Signal/Switch.blocktype"
            name="Switch"
            template="org::esmp::dsm::library::signal::codegen::c::templates::Switch::main">
      </generator>
   </extension>

</plugin>
