<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.damos.simulation.simulator.blockSimulationObjects">
      <simulationObject
            blockType="damos.blocks.UDPSource"
            class="org.eclipse.damos.library.vi.simulation.UDPSourceSimulationObject"
            name="UDPSource">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.UDPSink"
            class="org.eclipse.damos.library.vi.simulation.UDPSinkSimulationObject"
            name="UDPSink">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.Slider"
            class="org.eclipse.damos.library.vi.simulation.SliderSimulationObject"
            name="Slider">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.Button"
            class="org.eclipse.damos.library.vi.simulation.ButtonSimulationObject"
            name="Button">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.Gauge"
            class="org.eclipse.damos.library.vi.simulation.GaugeSimulationObject"
            name="Gauge">
      </simulationObject>
      <simulationObject
            blockType="damos.blocks.Display"
            class="org.eclipse.damos.library.vi.simulation.DisplaySimulationObject"
            name="Display">
      </simulationObject>
   </extension>

</plugin>
