<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--   <extension
         id="damosBuilder"
         name="Damos Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipselabs.damos.ide.core.builders.DamosProjectBuilder">
            <parameter
                  name="optimize"
                  value="true">
            </parameter>
            <parameter
                  name="comment"
                  value="Damos Project Builder">
            </parameter>
         </run></builder>
   </extension> -->
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipselabs.damos.ide.core.IDECoreExecutableExtensionFactory:org.eclipselabs.damos.ide.core.resource.BlockDiagramResourceFactory"
            type="blockdiagram">
      </parser>
   </extension>
   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.eclipselabs.damos.ide.core.builders.DamosBuilderParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipselabs.damos.dml.languages">
      <language
            extension="blockdiagram"
            id="org.eclipselabs.damos"
            name="Damos">
      </language>
   </extension>
   <extension
         point="org.eclipselabs.damos.dml.injectorProviders">
      <provider
            class="org.eclipselabs.damos.ide.core.internal.providers.InjectorProvider"
            language="org.eclipselabs.damos">
      </provider>
   </extension>

</plugin>
