<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipselabs.damos.common.damosCategory"
            class="org.eclipselabs.damos.ui.wizards.NewDamosProjectWizard"
            icon="icons/DamosProject.gif"
            id="org.eclipselabs.damos.ui.newDamosProjectWizard"
            name="Damos Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/DamosProjectNature.gif"
            id="org.eclipselabs.damos.ui.damosNatureImage"
            natureId="org.eclipselabs.damos.core.damosNature">
      </image>
   </extension>

</plugin>
