<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="quickFixProviders" name="Quick Fix Providers" schema="schema/quickFixProviders.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipselabs.damos.ide.ui.IDEUIExecutableExtensionFactory:org.eclipselabs.damos.diagram.ui.preferences.BlockDiagramPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipselabs.damos.ide.ui.IDEUIExecutableExtensionFactory:org.eclipselabs.damos.diagram.ui.parts.BlockDiagramEditor"
            contributorClass="org.eclipselabs.damos.ide.ui.IDEUIExecutableExtensionFactory:org.eclipselabs.damos.diagram.ui.parts.BlockDiagramActionBarContributor"
            default="true"
            extensions="blockdiagram"
            icon="icons/BlockDiagram.png"
            id="org.eclipselabs.damos.ide.ui.blockDiagramEditor"
            matchingStrategy="org.eclipse.gmf.runtime.diagram.ui.resources.editor.parts.DiagramDocumentEditorMatchingStrategy"
            name="Block Diagram Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipselabs.damos.ide.ui.damos"
            name="Damos">
      </category>
      <view
            category="org.eclipselabs.damos.ide.ui.damos"
            class="org.eclipselabs.damos.ide.ui.IDEUIExecutableExtensionFactory:org.eclipselabs.damos.dml.ui.parts.FragmentExplorerView"
            id="org.eclipselabs.damos.ide.ui.fragmentExplorerView"
            name="Fragment Explorer"
            restorable="true">
      </view>
      <view
            category="org.eclipselabs.damos.ide.ui.damos"
            class="org.eclipselabs.damos.ide.ui.IDEUIExecutableExtensionFactory:org.eclipselabs.damos.dml.ui.parts.BlockLibraryView"
            id="org.eclipselabs.damos.ide.ui.blockLibraryView"
            name="Block Library">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipselabs.damos.ide.ui.damosCategory"
            name="Damos">
      </category>
      <wizard
            category="org.eclipselabs.damos.ide.ui.damosCategory"
            class="org.eclipselabs.damos.ide.ui.wizards.NewDamosProjectWizard"
            finalPerspective="org.eclipselabs.damos.ide.ui.damosPerspective"
            icon="icons/DamosProject.gif"
            id="org.eclipselabs.damos.ide.ui.newDamosProjectWizard"
            name="Damos Project"
            project="true">
      </wizard>
      <wizard
            category="org.eclipselabs.damos.ide.ui.damosCategory"
            class="org.eclipselabs.damos.ide.ui.IDEUIExecutableExtensionFactory:org.eclipselabs.damos.diagram.ui.wizards.NewBlockDiagramCreationWizard"
            icon="icons/BlockDiagram.png"
            id="org.eclipselabs.damos.ide.ui.blockDiagramWizard"
            name="Block Diagram">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipselabs.damos.ide.ui.fragmentExplorerView">
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.newFragment"
               icon="icons/newfile_wiz.gif"
               label="New Fragment"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipselabs.damos.ide.ui.fragmentExplorerView?after=file">
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.newFragment"
               icon="icons/newfile_wiz.gif"
               label="New..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipselabs.damos.ide.ui.fragmentExplorerView?after=edit">
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.deleteFragment"
               icon="icons/delete.gif"
               label="Delete"
               style="push">
         </command>
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.renameFragment"
               label="Rename..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipselabs.damos.ide.ui.internal.DamosPerspectiveFactory"
            icon="icons/BlockDiagram.png"
            id="org.eclipselabs.damos.ide.ui.damosPerspective"
            name="Damos">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipselabs.damos.ide.ui.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipselabs.damos.ide.ui.properties">
         <propertyTab
               category="default"
               id="org.eclipselabs.damos.ide.ui.tabs.general"
               label="General">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipselabs.damos.ide.ui.tabs.general"
               category="default"
               id="org.eclipselabs.damos.ide.ui.tabs.parameters"
               label="Parameters">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipselabs.damos.ide.ui.tabs.parameters"
               category="extended"
               id="org.eclipselabs.damos.ide.ui.tabs.appearance"
               label="Appearance">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipselabs.damos.ide.ui.tabs.appearance"
               category="extended"
               id="org.eclipselabs.damos.ide.ui.tabs.diagram"
               label="Rulers &amp; Grid">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipselabs.damos.ide.ui.properties">
         <propertySection
               class="org.eclipselabs.damos.ide.ui.IDEUIExecutableExtensionFactory:org.eclipselabs.damos.dml.ui.properties.GeneralPropertySection"
               enablesFor="1"
               filter="org.eclipselabs.damos.dml.ui.properties.GeneralPropertySectionFilter"
               id="org.eclipselabs.damos.ide.ui.sections.blockName"
               tab="org.eclipselabs.damos.ide.ui.tabs.general">
         </propertySection>
         <propertySection
               afterSection="org.eclipselabs.damos.ide.ui.sections.blockName"
               class="org.eclipselabs.damos.ide.ui.IDEUIExecutableExtensionFactory:org.eclipselabs.damos.dml.ui.properties.TimingPropertySection"
               enablesFor="1"
               filter="org.eclipselabs.damos.dml.ui.properties.TimingPropertySectionFilter"
               id="org.eclipselabs.damos.ide.ui.sections.timingConstraint"
               tab="org.eclipselabs.damos.ide.ui.tabs.general">
         </propertySection>
         <propertySection
               afterSection="org.eclipselabs.damos.ide.ui.sections.timingConstraint"
               class="org.eclipselabs.damos.ide.ui.IDEUIExecutableExtensionFactory:org.eclipselabs.damos.dml.ui.properties.InoutportDataTypePropertySection"
               enablesFor="1"
               filter="org.eclipselabs.damos.dml.ui.properties.InoutportDataTypePropertySectionFilter"
               id="org.eclipselabs.damos.ide.ui.sections.inoutportDataType"
               tab="org.eclipselabs.damos.ide.ui.tabs.general">
         </propertySection>
         <propertySection
               afterSection="org.eclipselabs.damos.ide.ui.sections.timingConstraint"
               class="org.eclipselabs.damos.ide.ui.IDEUIExecutableExtensionFactory:org.eclipselabs.damos.dml.ui.properties.LatchPropertySection"
               enablesFor="1"
               filter="org.eclipselabs.damos.dml.ui.properties.LatchPropertySectionFilter"
               id="org.eclipselabs.damos.ide.ui.sections.latch"
               tab="org.eclipselabs.damos.ide.ui.tabs.general">
         </propertySection>
         <propertySection
               class="org.eclipselabs.damos.ide.ui.IDEUIExecutableExtensionFactory:org.eclipselabs.damos.dml.ui.properties.ParametersPropertySection"
               enablesFor="1"
               filter="org.eclipselabs.damos.dml.ui.properties.ParametersPropertySectionFilter"
               id="org.eclipselabs.damos.ide.ui.sections.parameters"
               tab="org.eclipselabs.damos.ide.ui.tabs.parameters">
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter"
               id="org.eclipselabs.damos.ide.ui.sections.diagramColorsAndFonts"
               tab="org.eclipselabs.damos.ide.ui.tabs.appearance">
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter"
               id="org.eclipselabs.damos.ide.ui.sections.shapeColorsAndFonts"
               tab="org.eclipselabs.damos.ide.ui.tabs.appearance">
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter"
               id="org.eclipselabs.damos.ide.ui.sections.connectionAppearance"
               tab="org.eclipselabs.damos.ide.ui.tabs.appearance">
         </propertySection>
         <propertySection
               afterSection="org.eclipselabs.damos.ide.ui.sections.shapeColorsAndFonts"
               class="org.eclipselabs.damos.diagram.ui.properties.ShowComponentNamePropertySection"
               id="org.eclipselabs.damos.ide.ui.sections.showName"
               tab="org.eclipselabs.damos.ide.ui.tabs.appearance">
            <input
                  type="org.eclipselabs.damos.diagram.ui.editparts.ComponentEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter"
               id="org.eclipselabs.damos.ide.ui.sections.rulerGrid"
               tab="org.eclipselabs.damos.ide.ui.tabs.diagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
            id="org.eclipselabs.damos.ide.ui.globalActionHandlerProvider">
         <Priority
               name="Lowest">
         </Priority>
         <ViewId
               id="org.eclipselabs.damos.ide.ui.blockDiagramEditor">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
            id="org.eclipselabs.damos.ide.ui.diagramWithPrintGlobalActionHandlerProvider">
         <Priority
               name="Lowest">
         </Priority>
         <ViewId
               id="org.eclipselabs.damos.ide.ui.blockDiagramEditor">
            <ElementType
                  class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId
                     actionId="print">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="org.eclipselabs.damos.ide.ui.internal.providers.NatureCheckingDecoratorProvider">
         <Priority
               name="Lowest">
         </Priority>
      </decoratorProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipselabs.damos.ide.ui.IDEUIExecutableExtensionFactory:org.eclipselabs.damos.diagram.ui.palette.PaletteProvider">
         <editor
               id="org.eclipselabs.damos.ide.ui.blockDiagramEditor">
         </editor>
         <Priority
               name="Lowest">
         </Priority>
      </paletteProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="org.eclipselabs.damos.ide.ui.internal.providers.ProblemMarkerDecoratorProvider">
         <Priority
               name="Lowest">
         </Priority>
      </decoratorProvider>
   </extension>
   <extension
         point="org.eclipselabs.damos.dml.ui.injectorProviders">
      <provider
            class="org.eclipselabs.damos.ide.ui.internal.providers.UIInjectorProvider"
            language="org.eclipselabs.damos">
      </provider>
   </extension>
   <extension
         point="org.eclipselabs.damos.ide.ui.quickFixProviders">
      <provider
            class="org.eclipselabs.damos.ide.ui.internal.providers.QuickFixProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipselabs.damos.ide.ui.internal.providers.QuickFixMarkerResolutionGenerator"
            markerType="org.eclipselabs.damos.common.damosProblem">
      </markerResolutionGenerator>
   </extension>

</plugin>
