<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <editor
               id="org.esmp.dsm.diagram.ui.blockDiagramEditor"></editor>
         <contribution
               factoryClass="org.esmp.dsm.diagram.ui.services.PaletteFactory">
            <entry
                  description="Sinks"
                  id="org.esmp.dsm.library.sinks.drawer"
                  kind="drawer"
                  label="Sinks"
                  path="/">
            </entry>
            <entry
                  description="Create a scope block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Sinks/Scope.blocktype"
                  kind="tool"
                  label="Scope"
                  path="/org.esmp.dsm.library.sinks.drawer">
            </entry></contribution>
      </paletteProvider>
   </extension>
   <extension
         point="org.esmp.dsm.diagram.ui.editParts">
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Sinks/Scope.blocktype"
            class="org.esmp.dsm.library.sinks.ui.editparts.ScopeEditPart"
            name="Scope">
      </editPart>
   </extension>

</plugin>
