<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <editor
               id="org.esmp.dsm.diagram.ui.blockDiagramEditor"></editor>
         <contribution
               factoryClass="org.esmp.dsm.diagram.ui.services.PaletteFactory">
            <entry
                  description="Sources"
                  id="org.esmp.dsm.library.sources.drawer"
                  kind="drawer"
                  label="Sources"
                  path="/">
            </entry>
            <entry
                  description="Create a constant"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Sources/Constant.blocktype"
                  kind="tool"
                  label="Constant"
                  path="/org.esmp.dsm.library.sources.drawer">
            </entry>
            <entry
                  description="Create a sine wave block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Sources/SineWave.blocktype"
                  kind="tool"
                  label="Sine Wave"
                  path="/org.esmp.dsm.library.sources.drawer">
            </entry>
            <entry
                  description="Create a step block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Sources/Step.blocktype"
                  kind="tool"
                  label="Step"
                  path="/org.esmp.dsm.library.sources.drawer">
            </entry>
            <entry
                  description="Create a ramp block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Sources/Ramp.blocktype"
                  kind="tool"
                  label="Ramp"
                  path="/org.esmp.dsm.library.sources.drawer">
            </entry></contribution>
      </paletteProvider>
   </extension>
   <extension
         point="org.esmp.dsm.diagram.ui.editParts">
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Sources/Constant.blocktype"
            class="org.esmp.dsm.library.sources.ui.editparts.ConstantEditPart"
            name="Constant">
      </editPart>
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Sources/SineWave.blocktype"
            class="org.esmp.dsm.library.sources.ui.editparts.SineWaveEditPart"
            name="SineWave">
      </editPart>
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Sources/Step.blocktype"
            class="org.esmp.dsm.library.sources.ui.editparts.StepEditPart"
            name="Step">
      </editPart>
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Sources/Ramp.blocktype"
            class="org.esmp.dsm.library.sources.ui.editparts.RampEditPart"
            name="Ramp">
      </editPart>
   </extension>

</plugin>
