<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <editor
               id="org.esmp.dsm.diagram.ui.blockDiagramEditor"></editor>
         <contribution
               factoryClass="org.esmp.dsm.diagram.ui.services.PaletteFactory">
            <entry
                  description="Discontinuities blocks"
                  id="org.esmp.dsm.library.discontinuities.drawer"
                  kind="drawer"
                  label="Discontinuities"
                  path="/">
            </entry>
            <entry
                  description="Create a saturation block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Discontinuities/Saturation.blocktype"
                  kind="tool"
                  label="Saturation"
                  path="/org.esmp.dsm.library.discontinuities.drawer">
            </entry></contribution>
      </paletteProvider>
   </extension>
   <extension
         point="org.esmp.dsm.diagram.ui.editParts">
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Discontinuities/Saturation.blocktype"
            class="org.esmp.dsm.library.discontinuities.ui.editparts.SaturationEditPart"
            name="Saturation">
      </editPart>
   </extension>

</plugin>
