<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="componentSignaturePolicyProviders" name="Component Signature Policy Providers" schema="schema/componentSignaturePolicyProviders.exsd"/>
   <extension-point id="blockSignaturePolicies" name="Block Signature Policies" schema="schema/blockSignaturePolicies.exsd"/>
   <extension
         point="org.eclipselabs.damos.execution.core.componentSignaturePolicyProviders">
      <provider
            class="org.eclipselabs.damos.execution.core.internal.providers.BuiltinComponentSignaturePolicyProvider">
      </provider>
      <provider
            class="org.eclipselabs.damos.execution.core.internal.registry.BlockSignaturePolicyProvider">
      </provider>
      <provider
            class="org.eclipselabs.damos.execution.core.internal.providers.BehavioredBlockSignaturePolicyProvider">
      </provider>
   </extension>

</plugin>
