<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipselabs.damos.codegen.c.cgenmodel.ui.editor.presentation.CGenModelModelWizardID"
            name="%_UI_CGenModelModelWizard_label"
            class="org.eclipselabs.damos.codegen.c.cgenmodel.ui.editor.presentation.CGenModelModelWizard"
            category="org.eclipselabs.damos.common.damosCategory"
            icon="icons/full/obj16/CGenModelModelFile.gif">
         <description>%_UI_CGenModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipselabs.damos.codegen.c.cgenmodel.ui.editor.presentation.CGenModelEditorID"
            name="%_UI_CGenModelEditor_label"
            icon="icons/full/obj16/CGenModelModelFile.gif"
            extensions="cgenmodel"
            class="org.eclipselabs.damos.codegen.c.cgenmodel.ui.editor.presentation.CGenModelEditor"
            contributorClass="org.eclipselabs.damos.codegen.c.cgenmodel.ui.editor.presentation.CGenModelActionBarContributor">
      </editor>
   </extension>

</plugin>
