<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipselabs.damos.ide.ui.damos"
            class="org.eclipselabs.damos.simulation.ui.internal.part.SimulationView"
            icon="icons/Simulation.gif"
            id="org.eclipselabs.damos.simulation.ui.simulationView"
            name="Simulation"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipselabs.damos.simulation.core.simulationListeners">
      <listener
            class="org.eclipselabs.damos.simulation.ui.internal.part.SimulationListener">
      </listener>
   </extension>

</plugin>
