<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <editor
               id="org.esmp.dsm.diagram.ui.blockDiagramEditor"></editor>
         <contribution
               factoryClass="org.esmp.dsm.diagram.ui.services.PaletteFactory">
            <entry
                  description="Logic blocks"
                  id="org.esmp.dsm.library.logic.drawer"
                  kind="drawer"
                  label="Logic"
                  path="/">
            </entry>
            <entry
                  description="Create an AND block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Logic/And.blocktype"
                  kind="tool"
                  label="AND"
                  path="/org.esmp.dsm.library.logic.drawer">
            </entry>
            <entry
                  description="Create an OR block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Logic/Or.blocktype"
                  kind="tool"
                  label="OR"
                  path="/org.esmp.dsm.library.logic.drawer">
            </entry>
            <entry
                  description="Create an inverter block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Logic/Inverter.blocktype"
                  kind="tool"
                  label="Inverter"
                  path="/org.esmp.dsm.library.logic.drawer">
            </entry>
            <entry
                  description="Create a compare block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Logic/Compare.blocktype"
                  kind="tool"
                  label="Compare"
                  path="/org.esmp.dsm.library.logic.drawer">
            </entry>
            <entry
                  description="Create a Schmitt trigger block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Logic/SchmittTrigger.blocktype"
                  kind="tool"
                  label="Schmitt Trigger"
                  path="/org.esmp.dsm.library.logic.drawer">
            </entry></contribution>
      </paletteProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.esmp.dsm.diagram.ui">
         <propertySection
               afterSection="org.esmp.dsm.diagram.section.showName"
               class="org.esmp.dsm.library.logic.ui.properties.LogicGateShapePropertySection"
               id="org.esmp.dsm.library.logic.logicGate.section.shape"
               tab="org.esmp.dsm.diagram.tab.appearance">
            <input
                  type="org.esmp.dsm.library.logic.ui.editparts.LogicGateEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.esmp.dsm.diagram.ui.viewFactories">
      <viewFactory
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/And.blocktype"
            class="org.esmp.dsm.library.logic.ui.view.factories.LogicGateViewFactory"
            name="And">
      </viewFactory>
      <viewFactory
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/Or.blocktype"
            class="org.esmp.dsm.library.logic.ui.view.factories.LogicGateViewFactory"
            name="Or">
      </viewFactory>
      <viewFactory
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/Inverter.blocktype"
            class="org.esmp.dsm.library.logic.ui.view.factories.LogicGateViewFactory"
            name="Inverter">
      </viewFactory>
   </extension>
   <extension
         point="org.esmp.dsm.diagram.ui.editParts">
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/And.blocktype"
            class="org.esmp.dsm.library.logic.ui.editparts.AndEditPart"
            name="And">
      </editPart>
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/Or.blocktype"
            class="org.esmp.dsm.library.logic.ui.editparts.OrEditPart"
            name="Or">
      </editPart>
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/Inverter.blocktype"
            class="org.esmp.dsm.library.logic.ui.editparts.InverterEditPart"
            name="Inverter">
      </editPart>
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/Compare.blocktype"
            class="org.esmp.dsm.library.logic.ui.editparts.CompareEditPart"
            name="Compare">
      </editPart>
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Logic/SchmittTrigger.blocktype"
            class="org.esmp.dsm.library.logic.ui.editparts.SchmittTriggerEditPart"
            name="SchmittTrigger">
      </editPart>
   </extension>

</plugin>
