<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipselabs.damos.simulation.simulationmodel.ui.solverConfigurationPages">
      <page
            class="org.eclipselabs.damos.simulation.simulationmodel.ui.FixedStepSizeSolverConfigurationPage"
            solverType="damos::solvers::Euler">
      </page>
      <page
            class="org.eclipselabs.damos.simulation.simulationmodel.ui.FixedStepSizeSolverConfigurationPage"
            solverType="damos::solvers::ClassicalRungeKutta">
      </page>
      <page
            class="org.eclipselabs.damos.simulation.simulationmodel.ui.AdaptiveStepSizeSolverConfigurationPage"
            solverType="damos::solvers::DormandPrince54">
      </page>
      <page
            class="org.eclipselabs.damos.simulation.simulationmodel.ui.AdaptiveStepSizeSolverConfigurationPage"
            solverType="damos::solvers::DormandPrince83">
      </page>
   </extension>

</plugin>
