<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.esmp.dsm.semantic.blockdiagram.presentation.blockTypeWizard"
            name="%_UI_BlockTypeModelWizard_label"
            class="org.esmp.dsm.semantic.blockdiagram.presentation.BlockTypeWizard"
            category="org.esmp.dsm.category"
            icon="icons/full/obj16/BlockTypeFile.gif">
         <description>%_UI_BlockTypeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <wizard
            category="org.esmp.dsm.category"
            class="org.esmp.dsm.semantic.blockdiagram.presentation.BlockCategoryWizard"
            icon="icons/full/obj16/BlockCategoryFile.gif"
            id="org.esmp.dsm.semantic.blockdiagram.presentation.blockCategoryWizard"
            name="%_UI_BlockCategoryModelWizard_label">
         <description>
            %_UI_BlockCategoryModelWizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.esmp.dsm.semantic.blockdiagram.presentation.BlockDiagramEditor"
            contributorClass="org.esmp.dsm.semantic.blockdiagram.presentation.BlockTypeActionBarContributor"
            extensions="blocktype"
            icon="icons/full/obj16/BlockTypeFile.gif"
            id="org.esmp.dsm.semantic.blocktype.presentation.blockTypeEditor"
            name="%_UI_BlockTypeEditor_label">
      </editor>
      <editor
            class="org.esmp.dsm.semantic.blockdiagram.presentation.BlockDiagramEditor"
            contributorClass="org.esmp.dsm.semantic.blockdiagram.presentation.BlockCategoryActionBarContributor"
            extensions="blockcategory"
            icon="icons/full/obj16/BlockCategoryFile.gif"
            id="org.esmp.dsm.semantic.blocktype.presentation.blockCategoryEditor"
            name="%_UI_BlockCategoryEditor_label">
      </editor>
   </extension>


</plugin>
