<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipselabs.damos.simulation.ide.core.simulation"
            icon="icons/Simulation.gif"
            id="org.eclipselabs.damos.simulation.ide.ui.launchConfigurationTypeImages.simulation">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipselabs.damos.simulation.ide.ui.internal.launch.SimulationTabGroup"
            id="org.eclipselabs.damos.simulation.ide.ui.launchConfigurationTabGroups.simulation"
            type="org.eclipselabs.damos.simulation.ide.core.simulation">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipselabs.damos.simulation.ide.ui.internal.launch.ConfigurationLaunchShortcut"
            icon="icons/Simulation.gif"
            id="org.eclipselabs.damos.simulation.ide.ui.configurationLaunchShortcut"
            label="Damos Simulation"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                    <or>
                       <test
                             property="org.eclipse.debug.ui.matchesPattern"
                             value="*.dconfig">
                       </test>
                       <instanceof
                             value="org.eclipselabs.damos.dconfig.Configuration">
                       </instanceof>
                    </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="org.eclipselabs.damos.simulation.ide.ui.internal.launch.FragmentLaunchShortcut"
            icon="icons/Simulation.gif"
            id="org.eclipselabs.damos.simulation.ide.ui.fragmentLaunchShortcut"
            label="Damos Simulation"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                    <or>
                       <test
                             property="org.eclipse.debug.ui.matchesPattern"
                             value="*.blockdiagram">
                       </test>
                       <instanceof
                             value="org.eclipselabs.damos.dml.Fragment">
                       </instanceof>
                    </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="org.eclipselabs.damos.simulation.ide.ui.internal.statushandlers.GenericStatusHandler"
            code="200"
            id="org.eclipselabs.damos.simulation.ide.ui.messageStatusHandler"
            plugin="org.eclipselabs.damos.simulation.ide.core">
      </statusHandler>
   </extension>

</plugin>
