<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipselabs.damos.diagram.ui">
         <propertyTab
               afterTab="1"
               category="domain"
               id="org.eclipselabs.damos.library.base.ui.tabs.math.ports"
               label="Ports">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipselabs.damos.diagram.ui">
         <propertySection
               afterSection="org.eclipselabs.damos.diagram.ui.sections.showName"
               class="org.eclipselabs.damos.library.base.ui.logic.properties.LogicGateShapePropertySection"
               id="org.eclipselabs.damos.library.base.ui.sections.logic.logicGateShape"
               tab="org.eclipselabs.damos.diagram.ui.tabs.appearance">
            <input
                  type="org.eclipselabs.damos.library.base.ui.logic.editparts.LogicGateEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipselabs.damos.library.base.ui.math.properties.SumInputPortsPropertySection"
               id="org.eclipselabs.damos.library.base.ui.sections.math.inputPorts"
               tab="org.eclipselabs.damos.library.base.ui.tabs.math.ports">
            <input
                  type="org.eclipselabs.damos.library.base.ui.math.editparts.SumEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipselabs.damos.diagram.ui.sections.showName"
               class="org.eclipselabs.damos.library.base.ui.math.properties.SumShapePropertySection"
               id="org.eclipselabs.damos.library.base.ui.sections.math.sumShape"
               tab="org.eclipselabs.damos.diagram.ui.tabs.appearance">
            <input
                  type="org.eclipselabs.damos.library.base.ui.math.editparts.SumEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipselabs.damos.diagram.ui.blockViewFactories">
      <viewFactory
            blockType="org.eclipselabs.damos.library.base.logic.And"
            class="org.eclipselabs.damos.library.base.ui.logic.view.factories.LogicGateViewFactory"
            name="And">
      </viewFactory>
      <viewFactory
            blockType="org.eclipselabs.damos.library.base.logic.Or"
            class="org.eclipselabs.damos.library.base.ui.logic.view.factories.LogicGateViewFactory"
            name="Or">
      </viewFactory>
      <viewFactory
            blockType="org.eclipselabs.damos.library.base.logic.Inverter"
            class="org.eclipselabs.damos.library.base.ui.logic.view.factories.LogicGateViewFactory"
            name="Inverter">
      </viewFactory>
      <viewFactory
            blockType="org.eclipselabs.damos.library.base.math.Sum"
            class="org.eclipselabs.damos.library.base.ui.math.view.factories.SumViewFactory"
            name="Sum">
         <input
               class="org.eclipselabs.damos.library.base.ui.math.view.factories.SumInputPortViewFactory"
               name="input">
         </input>
      </viewFactory>
   </extension>
   <extension
         point="org.eclipselabs.damos.diagram.ui.blockEditParts">
      <editPart
            blockType="org.eclipselabs.damos.library.base.continuous.TransferFunction"
            class="org.eclipselabs.damos.library.base.ui.continuous.editparts.TransferFunctionEditPart"
            name="Transfer Function">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.discontinuities.Saturation"
            class="org.eclipselabs.damos.library.base.ui.discontinuities.editparts.SaturationEditPart"
            name="Saturation">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.discrete.Delay"
            class="org.eclipselabs.damos.library.base.ui.discrete.editparts.DelayEditPart"
            name="Delay">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.discrete.DiscreteIntegrator"
            class="org.eclipselabs.damos.library.base.ui.discrete.editparts.DiscreteIntegratorEditPart"
            name="Discrete Integrator">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.discrete.DiscreteDerivative"
            class="org.eclipselabs.damos.library.base.ui.discrete.editparts.DiscreteDerivativeEditPart"
            name="Discrete Derivative">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.logic.And"
            class="org.eclipselabs.damos.library.base.ui.logic.editparts.AndEditPart"
            name="And">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.logic.Or"
            class="org.eclipselabs.damos.library.base.ui.logic.editparts.OrEditPart"
            name="Or">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.logic.Inverter"
            class="org.eclipselabs.damos.library.base.ui.logic.editparts.InverterEditPart"
            name="Inverter">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.logic.Compare"
            class="org.eclipselabs.damos.library.base.ui.logic.editparts.CompareEditPart"
            name="Compare">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.logic.SchmittTrigger"
            class="org.eclipselabs.damos.library.base.ui.logic.editparts.SchmittTriggerEditPart"
            name="SchmittTrigger">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.math.Gain"
            class="org.eclipselabs.damos.library.base.ui.math.editparts.GainEditPart"
            name="Gain">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.math.Sum"
            class="org.eclipselabs.damos.library.base.ui.math.editparts.SumEditPart"
            name="Sum">
         <input
               class="org.eclipselabs.damos.library.base.ui.math.editparts.SumInputPortEditPart"
               name="input">
         </input>
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.signal.Switch"
            class="org.eclipselabs.damos.library.base.ui.signal.editparts.SwitchEditPart"
            name="Switch">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.sinks.Scope"
            class="org.eclipselabs.damos.library.base.ui.sinks.editparts.ScopeEditPart"
            name="Scope">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.sources.Constant"
            class="org.eclipselabs.damos.library.base.ui.sources.editparts.ConstantEditPart"
            name="Constant">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.sources.SineWave"
            class="org.eclipselabs.damos.library.base.ui.sources.editparts.SineWaveEditPart"
            name="SineWave">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.sources.Step"
            class="org.eclipselabs.damos.library.base.ui.sources.editparts.StepEditPart"
            name="Step">
      </editPart>
      <editPart
            blockType="org.eclipselabs.damos.library.base.sources.Ramp"
            class="org.eclipselabs.damos.library.base.ui.sources.editparts.RampEditPart"
            name="Ramp">
      </editPart>
   </extension>

</plugin>
