<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipselabs.damos.execution.executionmodel.ui.editor.presentation.ComputationModelWizardID"
            name="Computation Model"
            class="org.eclipselabs.mscript.computation.computationmodel.ui.editor.presentation.ComputationModelWizard"
            category="org.eclipselabs.damos.ide.ui.damosCategory"
            icon="icons/full/obj16/ComputationModelFile.gif">
         <description>Create a new computation model</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <wizard
            id="org.eclipselabs.damos.execution.executionmodel.ui.editor.presentation.ExecutionModelWizardID"
            name="%_UI_ExecutionModelWizard_label"
            class="org.eclipselabs.damos.execution.executionmodel.ui.editor.presentation.ExecutionModelWizard"
            category="org.eclipselabs.damos.ide.ui.damosCategory"
            icon="icons/full/obj16/ExecutionModelFile.gif">
         <description>%_UI_ExecutionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipselabs.damos.execution.executionmodel.ui.editor.presentation.ExecutionModelEditorID"
            name="%_UI_ExecutionModelEditor_label"
            icon="icons/full/obj16/ExecutionModelFile.gif"
            extensions="executionmodel"
            class="org.eclipselabs.damos.execution.executionmodel.ui.editor.presentation.ExecutionModelEditor"
            contributorClass="org.eclipselabs.damos.execution.executionmodel.ui.editor.presentation.ExecutionModelActionBarContributor">
      </editor>
   </extension>

</plugin>
