<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipselabs.damos.execution.executionmodel.ui.editor.presentation.ComputationModelModelWizardID"
            name="Computation Model"
            class="org.eclipselabs.mscript.computation.computationmodel.ui.editor.presentation.ComputationModelModelWizard"
            category="org.eclipselabs.damos.common.damosCategory"
            icon="icons/full/obj16/ComputationModelModelFile.gif">
         <description>Create a new computation model</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <wizard
            id="org.eclipselabs.damos.execution.executionmodel.ui.editor.presentation.ExecutionModelModelWizardID"
            name="%_UI_ExecutionModelModelWizard_label"
            class="org.eclipselabs.damos.execution.executionmodel.ui.editor.presentation.ExecutionModelModelWizard"
            category="org.eclipselabs.damos.common.damosCategory"
            icon="icons/full/obj16/ExecutionModelModelFile.gif">
         <description>%_UI_ExecutionModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipselabs.damos.execution.executionmodel.ui.editor.presentation.ExecutionModelEditorID"
            name="%_UI_ExecutionModelEditor_label"
            icon="icons/full/obj16/ExecutionModelModelFile.gif"
            extensions="executionmodel"
            class="org.eclipselabs.damos.execution.executionmodel.ui.editor.presentation.ExecutionModelEditor"
            contributorClass="org.eclipselabs.damos.execution.executionmodel.ui.editor.presentation.ExecutionModelActionBarContributor">
      </editor>
   </extension>

</plugin>
