<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="viewFactories" name="View Factories" schema="schema/viewFactories.exsd"/>
   <extension-point id="editParts" name="EditParts" schema="schema/editParts.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipselabs.damos.diagram.ui.preferences.BlockDiagramPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipselabs.damos.diagram.ui.part.BlockDiagramEditor"
            contributorClass="org.eclipselabs.damos.diagram.ui.part.BlockDiagramActionBarContributor"
            default="true"
            extensions="blockdiagram"
            icon="icons/blockdiagram.gif"
            id="org.eclipselabs.damos.diagram.ui.blockDiagramEditor"
            matchingStrategy="org.eclipse.gmf.runtime.diagram.ui.resources.editor.parts.DiagramDocumentEditorMatchingStrategy"
            name="Block Diagram Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipselabs.damos.diagram.ui.part.FragmentView"
            id="org.eclipselabs.damos.diagram.ui.part.fragmentView"
            name="Fragment Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipselabs.damos.category"
            name="Damos">
      </category>
      <wizard
            category="org.eclipselabs.damos.category"
            class="org.eclipselabs.damos.diagram.ui.wizards.BlockDiagramEditorCreationWizard"
            icon="icons/blockdiagram.gif"
            id="org.eclipselabs.damos.diagram.ui.blockDiagramWizard"
            name="Block Diagram">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipselabs.damos.diagram.ui">
         <propertyCategory
               category="domain">
         </propertyCategory>
         <propertyCategory
               category="visual">
         </propertyCategory>
         <propertyCategory
               category="extra">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipselabs.damos.diagram.ui">
         <propertyTab
               category="domain"
               id="org.eclipselabs.damos.diagram.tab.general"
               label="General">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipselabs.damos.diagram.tab.general"
               category="domain"
               id="org.eclipselabs.damos.diagram.tab.parameters"
               label="Parameters">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipselabs.damos.diagram.tab.parameters"
               category="visual"
               id="org.eclipselabs.damos.diagram.tab.appearance"
               label="Appearance">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipselabs.damos.diagram.tab.appearance"
               category="visual"
               id="org.eclipselabs.damos.diagram.tab.diagram"
               label="Rulers &amp; Grid">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipselabs.damos.diagram.ui">
         <propertySection
               class="org.eclipselabs.damos.diagram.ui.internal.properties.ComponentNamePropertySection"
               enablesFor="1"
               id="org.eclipselabs.damos.diagram.section.blockName"
               tab="org.eclipselabs.damos.diagram.tab.general">
            <input
                  type="org.eclipselabs.damos.diagram.ui.editparts.ComponentEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipselabs.damos.diagram.section.blockName"
               class="org.eclipselabs.damos.diagram.ui.internal.properties.InoutportDataTypePropertySection"
               enablesFor="1"
               filter="org.eclipselabs.damos.diagram.ui.internal.properties.InoutportDataTypePropertySectionFilter"
               id="org.eclipselabs.damos.diagram.section.inoutportDataType"
               tab="org.eclipselabs.damos.diagram.tab.general">
         </propertySection>
         <propertySection
               class="org.eclipselabs.damos.diagram.ui.internal.properties.ParametersPropertySection"
               enablesFor="1"
               filter="org.eclipselabs.damos.diagram.ui.internal.properties.ParametersPropertySectionFilter"
               id="org.eclipselabs.damos.diagram.section.parameters"
               tab="org.eclipselabs.damos.diagram.tab.parameters">
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter"
               id="org.eclipselabs.damos.diagram.section.diagramColorsAndFonts"
               tab="org.eclipselabs.damos.diagram.tab.appearance">
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter"
               id="org.eclipselabs.damos.diagram.section.rulerGrid"
               tab="org.eclipselabs.damos.diagram.tab.diagram">
         </propertySection>
         <propertySection
               class="org.eclipselabs.damos.diagram.ui.internal.properties.ShowComponentNamePropertySection"
               id="org.eclipselabs.damos.diagram.section.showName"
               tab="org.eclipselabs.damos.diagram.tab.appearance">
            <input
                  type="org.eclipselabs.damos.diagram.ui.editparts.ComponentEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter"
               id="org.eclipselabs.damos.diagram.section.connectionAppearance"
               tab="org.eclipselabs.damos.diagram.tab.appearance">
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter"
               id="org.eclipselabs.damos.diagram.section.shapeColorsAndFonts"
               tab="org.eclipselabs.damos.diagram.tab.appearance">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipselabs.damos.diagram.ui.commands.newFragment"
            name="New Fragment">
      </command>
      <command
            id="org.eclipselabs.damos.diagram.ui.commands.deleteFragment"
            name="Delete Fragment">
      </command>
      <command
            id="org.eclipselabs.damos.diagram.ui.commands.renameFragment"
            name="Rename Fragment">
      </command>
      <command
            id="org.eclipselabs.damos.diagram.ui.commands.extractInterface"
            name="Extract Interface">
      </command>
      <command
            id="org.eclipselabs.damos.diagram.ui.commands.moveToAnotherFragment"
            name="Move to another Fragment">
      </command>
      <command
            id="org.eclipselabs.damos.diagram.ui.commands.changeRealization"
            name="Change Realization">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.changeRealization"
               label="Change Realization..."
               style="push">
            <visibleWhen>
                 <and>
                    <count
                          value="1">
                    </count>
                    <iterate>
                       <instanceof
                          value="org.eclipselabs.damos.diagram.ui.editparts.SubsystemEditPart">
                       </instanceof>
                    </iterate>
                 </and>
            </visibleWhen>
         </command>
         <menu
               id="org.eclipselabs.damos.diagram.ui.refactor"
               label="Refactor">
         </menu>
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.extractInterface"
               label="Extract Interface..."
               style="push">
            <visibleWhen>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipselabs.damos.dml.Fragment">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipselabs.damos.diagram.ui.refactor">
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.moveToAnotherFragment"
               label="Move to another Fragment..."
               style="push">
            <visibleWhen>
              <iterate>
                 <or>
                    <instanceof
                          value="org.eclipselabs.damos.diagram.ui.editparts.ComponentEditPart">
                    </instanceof>
                    <instanceof
                          value="org.eclipselabs.damos.diagram.ui.editparts.ConnectionEditPart">
                    </instanceof>
                 </or>
              </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipselabs.damos.diagram.ui.part.fragmentView">
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.newFragment"
               icon="icons/newfile_wiz.gif"
               label="New Fragment"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipselabs.damos.diagram.ui.part.fragmentView?after=file">
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.newFragment"
               icon="icons/newfile_wiz.gif"
               label="New..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipselabs.damos.diagram.ui.part.fragmentView?after=edit">
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.deleteFragment"
               icon="icons/delete.gif"
               label="Delete"
               style="push">
         </command>
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.renameFragment"
               label="Rename..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipselabs.damos.diagram.ui.internal.handlers.NewFragmentHandler"
            commandId="org.eclipselabs.damos.diagram.ui.commands.newFragment">
         <enabledWhen>
            <iterate>
               <instanceof
                     value="org.eclipselabs.damos.dml.Fragment">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipselabs.damos.diagram.ui.internal.handlers.DeleteFragmentHandler"
            commandId="org.eclipselabs.damos.diagram.ui.commands.deleteFragment">
         <enabledWhen>
            <iterate>
               <instanceof
                     value="org.eclipselabs.damos.dml.Fragment">
               </instanceof>
               <not>
                  <instanceof
                        value="org.eclipselabs.damos.dml.Model">
                  </instanceof>
               </not>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipselabs.damos.diagram.ui.internal.handlers.RenameFragmentHandler"
            commandId="org.eclipselabs.damos.diagram.ui.commands.renameFragment">
         <enabledWhen>
            <iterate>
               <instanceof
                     value="org.eclipselabs.damos.dml.Fragment">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipselabs.damos.diagram.ui.internal.handlers.ExtractInterfaceHandler"
            commandId="org.eclipselabs.damos.diagram.ui.commands.extractInterface">
      </handler>
      <handler
            class="org.eclipselabs.damos.diagram.ui.internal.handlers.MoveToAnotherFragmentHandler"
            commandId="org.eclipselabs.damos.diagram.ui.commands.moveToAnotherFragment">
      </handler>
      <handler
            class="org.eclipselabs.damos.diagram.ui.internal.handlers.ChangeRealizationHandler"
            commandId="org.eclipselabs.damos.diagram.ui.commands.changeRealization">
      </handler>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="true"
            class="org.eclipselabs.damos.diagram.ui.actions.ContributionItemProvider">
         <Priority
               name="Low">
         </Priority>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupPredefinedItem
                  id="deleteFromDiagramAction"
                  remove="true">
            </popupPredefinedItem></popupContribution>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  policyClass="org.eclipselabs.damos.diagram.ui.actions.TransformablePopupMenuContributionPolicy">
            </popupStructuredContributionCriteria>
            <popupMenuGroup
                  id="transformBlockMenuGroup"
                  separator="true">
            </popupMenuGroup>
            <popupAction
                  id="flipBlockAction"
                  path="/transformBlockMenuGroup">
            </popupAction>
            <popupAction
                  id="rotateBlockAction"
                  path="/transformBlockMenuGroup">
            </popupAction>
            <popupAction
                  id="resetFlipAndRotateBlockAction"
                  path="/transformBlockMenuGroup">
            </popupAction>
         </popupContribution>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  policyClass="org.eclipselabs.damos.diagram.ui.actions.AdjustableInputCountPopupMenuContributionPolicy">
            </popupStructuredContributionCriteria>
            <popupMenuGroup
                  id="adjustInputCountMenuGroup"
                  separator="true">
            </popupMenuGroup>
            <popupAction
                  id="addInputAction"
                  path="/adjustInputCountMenuGroup">
            </popupAction>
            <popupAction
                  id="removeInputAction"
                  path="/adjustInputCountMenuGroup">
            </popupAction>
         </popupContribution>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  policyClass="org.eclipselabs.damos.diagram.ui.actions.AdjustableOutputCountPopupMenuContributionPolicy">
            </popupStructuredContributionCriteria>
            <popupMenuGroup
                  id="adjustOutputCountMenuGroup"
                  separator="true">
            </popupMenuGroup>
            <popupAction
                  id="addOutputAction"
                  path="/adjustOutputCountMenuGroup">
            </popupAction>
            <popupAction
                  id="removeOutputAction"
                  path="/adjustOutputCountMenuGroup">
            </popupAction>
         </popupContribution>
      </contributionItemProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider
            class="org.eclipselabs.damos.diagram.ui.internal.providers.ViewProvider">
         <Priority
               name="Lowest">
         </Priority>
      </viewProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.eclipselabs.damos.diagram.ui.internal.providers.EditPartProvider">
         <Priority
               name="Lowest">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipselabs.damos.diagram.ui.palette.PaletteProvider">
         <Priority
               name="Lowest">
         </Priority>
      </paletteProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider
            class="org.eclipselabs.damos.diagram.ui.internal.providers.ModelingAssistantProvider">
         <Priority
               name="Lowest">
         </Priority>
         <object
               class="org.eclipselabs.damos.diagram.ui.editparts.PortEditPart"
               id="port">
         </object>
         <context
               elements="port">
         </context>
      </modelingAssistantProvider>
   </extension>

</plugin>
