<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="blockViewFactories" name="Block ViewFactories" schema="schema/blockViewFactories.exsd"/>
   <extension-point id="blockEditParts" name="Block EditParts" schema="schema/blockEditParts.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipselabs.damos.diagram.ui.commands.changePortCount"
            name="Change Port Count">
         <commandParameter
               id="org.eclipselabs.damos.diagram.ui.commands.changePortCount.name"
               name="Name"
               optional="true">
         </commandParameter>
         <commandParameter
               id="org.eclipselabs.damos.diagram.ui.commands.changePortCount.kind"
               name="Kind"
               optional="true">
         </commandParameter>
         <commandParameter
               id="org.eclipselabs.damos.diagram.ui.commands.changePortCount.action"
               name="Action"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="org.eclipselabs.damos.diagram.ui.commands.newFragment"
            name="New Fragment">
      </command>
      <command
            id="org.eclipselabs.damos.diagram.ui.commands.deleteFragment"
            name="Delete Fragment">
      </command>
      <command
            id="org.eclipselabs.damos.diagram.ui.commands.renameFragment"
            name="Rename Fragment">
      </command>
      <command
            id="org.eclipselabs.damos.diagram.ui.commands.extractSystemInterface"
            name="Extract System Interface">
      </command>
      <command
            id="org.eclipselabs.damos.diagram.ui.commands.moveToAnotherFragment"
            name="Move to another Fragment">
      </command>
      <command
            id="org.eclipselabs.damos.diagram.ui.commands.changeRealization"
            name="Change Realization">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.changeRealization"
               label="Change Realization..."
               style="push">
            <visibleWhen>
                 <and>
                    <count
                          value="1">
                    </count>
                    <iterate>
                       <instanceof
                          value="org.eclipselabs.damos.diagram.ui.editparts.SubsystemEditPart">
                       </instanceof>
                    </iterate>
                 </and>
            </visibleWhen>
         </command>
         <menu
               id="org.eclipselabs.damos.diagram.ui.refactor"
               label="Refactor">
         </menu>
<!--
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.extractSystemInterface"
               label="Extract System Interface..."
               style="push">
            <visibleWhen>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipselabs.damos.dml.Fragment">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
-->
         <dynamic
               class="org.eclipselabs.damos.diagram.ui.internal.commands.ChangePortCountContributionItem"
               id="org.eclipselabs.damos.diagram.ui.changePortCountContributionItem">
         </dynamic>
         <separator
               name="org.eclipselabs.damos.diagram.ui.endSeparator"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipselabs.damos.diagram.ui.refactor">
         <command
               commandId="org.eclipselabs.damos.diagram.ui.commands.moveToAnotherFragment"
               label="Move to another Fragment..."
               style="push">
            <visibleWhen>
              <iterate>
                 <or>
                    <instanceof
                          value="org.eclipselabs.damos.diagram.ui.editparts.ComponentEditPart">
                    </instanceof>
                    <instanceof
                          value="org.eclipselabs.damos.diagram.ui.editparts.ConnectionEditPart">
                    </instanceof>
                 </or>
              </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipselabs.damos.diagram.ui.internal.handlers.NewFragmentHandler"
            commandId="org.eclipselabs.damos.diagram.ui.commands.newFragment">
         <enabledWhen>
            <iterate>
               <instanceof
                     value="org.eclipselabs.damos.dml.Fragment">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipselabs.damos.diagram.ui.internal.handlers.DeleteFragmentHandler"
            commandId="org.eclipselabs.damos.diagram.ui.commands.deleteFragment">
         <enabledWhen>
            <iterate>
               <instanceof
                     value="org.eclipselabs.damos.dml.Fragment">
               </instanceof>
               <not>
                  <instanceof
                        value="org.eclipselabs.damos.dml.Model">
                  </instanceof>
               </not>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipselabs.damos.diagram.ui.internal.handlers.RenameFragmentHandler"
            commandId="org.eclipselabs.damos.diagram.ui.commands.renameFragment">
         <enabledWhen>
            <iterate>
               <instanceof
                     value="org.eclipselabs.damos.dml.Fragment">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipselabs.damos.diagram.ui.internal.handlers.ExtractInterfaceHandler"
            commandId="org.eclipselabs.damos.diagram.ui.commands.extractSystemInterface">
      </handler>
      <handler
            class="org.eclipselabs.damos.diagram.ui.internal.handlers.MoveToAnotherFragmentHandler"
            commandId="org.eclipselabs.damos.diagram.ui.commands.moveToAnotherFragment">
      </handler>
      <handler
            class="org.eclipselabs.damos.diagram.ui.internal.handlers.ChangeRealizationHandler"
            commandId="org.eclipselabs.damos.diagram.ui.commands.changeRealization">
      </handler>
      <handler
            class="org.eclipselabs.damos.diagram.ui.internal.handlers.ChangePortCountHandler"
            commandId="org.eclipselabs.damos.diagram.ui.commands.changePortCount">
      </handler>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="true"
            class="org.eclipselabs.damos.diagram.ui.actions.ContributionItemProvider">
         <Priority
               name="Low">
         </Priority>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupPredefinedItem
                  id="deleteFromDiagramAction"
                  remove="true">
            </popupPredefinedItem></popupContribution>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupPredefinedItem
                  id="deleteFromModelAction"
                  remove="true">
            </popupPredefinedItem>
            <popupStructuredContributionCriteria
                  objectClass="org.eclipselabs.damos.diagram.ui.internal.editparts.WhileLoopConditionEditPart"></popupStructuredContributionCriteria></popupContribution>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  policyClass="org.eclipselabs.damos.diagram.ui.actions.TransformablePopupMenuContributionPolicy">
            </popupStructuredContributionCriteria>
            <popupMenuGroup
                  id="transformBlockMenuGroup"
                  separator="true">
            </popupMenuGroup>
            <popupAction
                  id="flipBlockAction"
                  path="/transformBlockMenuGroup">
            </popupAction>
            <popupAction
                  id="rotateBlockAction"
                  path="/transformBlockMenuGroup">
            </popupAction>
            <popupAction
                  id="resetFlipAndRotateBlockAction"
                  path="/transformBlockMenuGroup">
            </popupAction>
         </popupContribution>
      </contributionItemProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider
            class="org.eclipselabs.damos.diagram.ui.internal.providers.ViewProvider">
         <Priority
               name="Lowest">
         </Priority>
      </viewProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.eclipselabs.damos.diagram.ui.internal.providers.EditPartProvider">
         <Priority
               name="Lowest">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider
            class="org.eclipselabs.damos.diagram.ui.internal.providers.ModelingAssistantProvider">
         <Priority
               name="Lowest">
         </Priority>
         <object
               class="org.eclipselabs.damos.diagram.ui.editparts.PortEditPart"
               id="port">
         </object>
         <context
               elements="port">
         </context>
      </modelingAssistantProvider>
   </extension>

</plugin>
