<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <editor
               id="org.esmp.dsm.diagram.ui.blockDiagramEditor"></editor>
         <contribution
               factoryClass="org.esmp.dsm.diagram.ui.services.PaletteFactory">
            <entry
                  description="Math blocks"
                  id="org.esmp.dsm.library.math.drawer"
                  kind="drawer"
                  label="Math"
                  path="/">
            </entry>
            <entry
                  description="Create a gain block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Math/Gain.blocktype"
                  kind="tool"
                  label="Gain"
                  path="/org.esmp.dsm.library.math.drawer">
            </entry>
            <entry
                  description="Create a sum block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Math/Sum.blocktype"
                  kind="tool"
                  label="Sum"
                  path="/org.esmp.dsm.library.math.drawer">
            </entry></contribution>
      </paletteProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.esmp.dsm.diagram.ui">
         <propertyTab
               afterTab="1"
               category="domain"
               id="org.esmp.dsm.library.math.tab.ports"
               label="Ports">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.esmp.dsm.diagram.ui">
         <propertySection
               class="org.esmp.dsm.library.math.ui.properties.SumInputPortsPropertySection"
               id="org.esmp.dsm.library.math.sum.section.inputPorts"
               tab="org.esmp.dsm.library.math.tab.ports">
            <input
                  type="org.esmp.dsm.library.math.ui.editparts.SumEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.esmp.dsm.diagram.section.showName"
               class="org.esmp.dsm.library.math.ui.properties.SumShapePropertySection"
               id="org.esmp.dsm.library.math.sum.section.shape"
               tab="org.esmp.dsm.diagram.tab.appearance">
            <input
                  type="org.esmp.dsm.library.math.ui.editparts.SumEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.esmp.dsm.diagram.ui.viewFactories">
      <viewFactory
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Math/Sum.blocktype"
            class="org.esmp.dsm.library.math.ui.view.factories.SumViewFactory"
            name="Sum">
         <input
               class="org.esmp.dsm.library.math.ui.view.factories.SumInputPortViewFactory"
               name="Input">
         </input>
      </viewFactory>
   </extension>
   <extension
         point="org.esmp.dsm.diagram.ui.editParts">
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Math/Gain.blocktype"
            class="org.esmp.dsm.library.math.ui.editparts.GainEditPart"
            name="Gain">
      </editPart>
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Math/Sum.blocktype"
            class="org.esmp.dsm.library.math.ui.editparts.SumEditPart"
            name="Sum">
         <input
               class="org.esmp.dsm.library.math.ui.editparts.SumInputPortEditPart"
               name="Input">
         </input>
      </editPart>
   </extension>

</plugin>
