<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipselabs.damos.ide.ui.properties">
         <propertyTab
               afterTab="org.eclipselabs.damos.dml.ui.tabs.general"
               category="default"
               id="org.eclipselabs.damos.library.base.ui.tabs.math.ports"
               label="Ports">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipselabs.damos.ide.ui.properties">
         <propertySection
               afterSection="org.eclipselabs.damos.diagram.ui.sections.showName"
               class="org.eclipselabs.damos.library.base.ui.logic.properties.LogicGateShapePropertySection"
               id="org.eclipselabs.damos.library.base.ui.sections.logic.logicGateShape"
               tab="org.eclipselabs.damos.diagram.ui.tabs.appearance">
            <input
                  type="org.eclipselabs.damos.library.base.ui.logic.editparts.LogicGateEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipselabs.damos.library.base.ui.math.properties.SumInputPortsPropertySection"
               id="org.eclipselabs.damos.library.base.ui.sections.math.inputPorts"
               tab="org.eclipselabs.damos.library.base.ui.tabs.math.ports">
            <input
                  type="org.eclipselabs.damos.library.base.ui.math.editparts.SumEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipselabs.damos.diagram.ui.sections.showName"
               class="org.eclipselabs.damos.library.base.ui.math.properties.SumShapePropertySection"
               id="org.eclipselabs.damos.library.base.ui.sections.math.sumShape"
               tab="org.eclipselabs.damos.diagram.ui.tabs.appearance">
            <input
                  type="org.eclipselabs.damos.library.base.ui.math.editparts.SumEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipselabs.damos.diagram.ui.blockViewFactories">
      <viewFactory
            blockType="org::eclipselabs::damos::library::base::logic::And"
            class="org.eclipselabs.damos.library.base.ui.logic.view.factories.LogicGateViewFactory"
            name="And">
      </viewFactory>
      <viewFactory
            blockType="org::eclipselabs::damos::library::base::logic::Or"
            class="org.eclipselabs.damos.library.base.ui.logic.view.factories.LogicGateViewFactory"
            name="Or">
      </viewFactory>
      <viewFactory
            blockType="org::eclipselabs::damos::library::base::logic::Inverter"
            class="org.eclipselabs.damos.library.base.ui.logic.view.factories.LogicGateViewFactory"
            name="Inverter">
      </viewFactory>
      <viewFactory
            blockType="org::eclipselabs::damos::library::base::math::Sum"
            class="org.eclipselabs.damos.library.base.ui.math.view.factories.SumViewFactory"
            name="Sum">
         <input
               class="org.eclipselabs.damos.library.base.ui.math.view.factories.SumInputPortViewFactory"
               name="input">
         </input>
      </viewFactory>
   </extension>
   <extension
         point="org.eclipselabs.damos.diagram.ui.blockEditParts">
      <editPart
            blockType="org::eclipselabs::damos::library::base::continuous::Integrator"
            class="org.eclipselabs.damos.library.base.ui.continuous.editparts.IntegratorEditPart"
            name="Integrator">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::continuous::Derivative"
            class="org.eclipselabs.damos.library.base.ui.continuous.editparts.DerivativeEditPart"
            name="Derivative">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::continuous::TransferFunction"
            class="org.eclipselabs.damos.library.base.ui.continuous.editparts.TransferFunctionEditPart"
            name="Transfer Function">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::discontinuities::Saturation"
            class="org.eclipselabs.damos.library.base.ui.discontinuities.editparts.SaturationEditPart"
            name="Saturation">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::discrete::Delay"
            class="org.eclipselabs.damos.library.base.ui.discrete.editparts.DelayEditPart"
            name="Delay">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::discrete::DiscreteIntegrator"
            class="org.eclipselabs.damos.library.base.ui.discrete.editparts.DiscreteIntegratorEditPart"
            name="Discrete Integrator">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::discrete::DiscreteDerivative"
            class="org.eclipselabs.damos.library.base.ui.discrete.editparts.DiscreteDerivativeEditPart"
            name="Discrete Derivative">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::discrete::Counter"
            class="org.eclipselabs.damos.library.base.ui.discrete.editparts.CounterEditPart"
            name="Counter">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::logic::And"
            class="org.eclipselabs.damos.library.base.ui.logic.editparts.AndEditPart"
            name="And">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::logic::Or"
            class="org.eclipselabs.damos.library.base.ui.logic.editparts.OrEditPart"
            name="Or">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::logic::Inverter"
            class="org.eclipselabs.damos.library.base.ui.logic.editparts.InverterEditPart"
            name="Inverter">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::logic::Compare"
            class="org.eclipselabs.damos.library.base.ui.logic.editparts.CompareEditPart"
            name="Compare">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::logic::SchmittTrigger"
            class="org.eclipselabs.damos.library.base.ui.logic.editparts.SchmittTriggerEditPart"
            name="SchmittTrigger">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::math::Gain"
            class="org.eclipselabs.damos.library.base.ui.math.editparts.GainEditPart"
            name="Gain">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::math::Sum"
            class="org.eclipselabs.damos.library.base.ui.math.editparts.SumEditPart"
            name="Sum">
         <input
               class="org.eclipselabs.damos.library.base.ui.math.editparts.SumInputPortEditPart"
               name="input">
         </input>
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::math::Round"
            class="org.eclipselabs.damos.library.base.ui.math.editparts.RoundEditPart"
            name="Round">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::signal::Switch"
            class="org.eclipselabs.damos.library.base.ui.signal.editparts.SwitchEditPart"
            name="Switch">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::sinks::Scope"
            class="org.eclipselabs.damos.library.base.ui.sinks.editparts.ScopeEditPart"
            name="Scope">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::sources::Constant"
            class="org.eclipselabs.damos.library.base.ui.sources.editparts.ConstantEditPart"
            name="Constant">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::sources::SineWave"
            class="org.eclipselabs.damos.library.base.ui.sources.editparts.SineWaveEditPart"
            name="SineWave">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::sources::Step"
            class="org.eclipselabs.damos.library.base.ui.sources.editparts.StepEditPart"
            name="Step">
      </editPart>
      <editPart
            blockType="org::eclipselabs::damos::library::base::sources::Ramp"
            class="org.eclipselabs.damos.library.base.ui.sources.editparts.RampEditPart"
            name="Ramp">
      </editPart>
   </extension>
   <extension
         point="org.eclipselabs.damos.dml.ui.blockImages">
      <image
            blockType="org::eclipselabs::damos::library::base::continuous::Integrator"
            icon16="icons/continuous/Integrator16.png"
            icon24="icons/continuous/Integrator24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::continuous::Derivative"
            icon16="icons/continuous/Derivative16.png"
            icon24="icons/continuous/Derivative24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::continuous::TransferFunction"
            icon16="icons/continuous/TransferFunction16.png"
            icon24="icons/continuous/TransferFunction24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::discontinuities::Saturation"
            icon16="icons/discontinuities/Saturation16.png"
            icon24="icons/discontinuities/Saturation24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::discrete::Counter"
            icon16="icons/discrete/Counter16.png"
            icon24="icons/discrete/Counter24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::discrete::Delay"
            icon16="icons/discrete/Delay16.png"
            icon24="icons/discrete/Delay24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::discrete::DiscreteDerivative"
            icon16="icons/discrete/DiscreteDerivative16.png"
            icon24="icons/discrete/DiscreteDerivative24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::discrete::DiscreteIntegrator"
            icon16="icons/discrete/DiscreteIntegrator16.png"
            icon24="icons/discrete/DiscreteIntegrator24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::logic::And"
            icon16="icons/logic/And16.png"
            icon24="icons/logic/And24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::logic::Compare"
            icon16="icons/logic/Compare16.png"
            icon24="icons/logic/Compare24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::logic::Inverter"
            icon16="icons/logic/Inverter16.png"
            icon24="icons/logic/Inverter24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::logic::Or"
            icon16="icons/logic/Or16.png"
            icon24="icons/logic/Or24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::logic::SchmittTrigger"
            icon16="icons/logic/SchmittTrigger16.png"
            icon24="icons/logic/SchmittTrigger24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::math::Gain"
            icon16="icons/math/Gain16.png"
            icon24="icons/math/Gain24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::math::Round"
            icon16="icons/math/Round16.png"
            icon24="icons/math/Round24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::math::Sum"
            icon16="icons/math/Sum16.png"
            icon24="icons/math/Sum24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::signal::Switch"
            icon16="icons/signal/Switch16.png"
            icon24="icons/signal/Switch24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::sinks::Scope"
            icon16="icons/sinks/Scope16.png"
            icon24="icons/sinks/Scope24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::sources::Constant"
            icon16="icons/sources/Constant16.png"
            icon24="icons/sources/Constant24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::sources::Ramp"
            icon16="icons/sources/Ramp16.png"
            icon24="icons/sources/Ramp24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::sources::SineWave"
            icon16="icons/sources/SineWave16.png"
            icon24="icons/sources/SineWave24.png">
      </image>
      <image
            blockType="org::eclipselabs::damos::library::base::sources::Step"
            icon16="icons/sources/Step16.png"
            icon24="icons/sources/Step24.png">
      </image>
   </extension>

</plugin>
