<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipselabs.damos.diagram.core.internal.resource.BlockDiagramResourceFactory"
            type="blockdiagram">
      </parser>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://www.eclipselabs.org/damos/DML/1.0.0">
         <metamodelType
               eclass="Fragment"
               edithelper="org.eclipselabs.damos.diagram.core.internal.edithelpers.FragmentEditHelper"
               id="org.eclipselabs.damos.diagram.fragment"
               name="Fragment">
         </metamodelType>
         <metamodelType
               eclass="Connection"
               edithelper="org.eclipselabs.damos.diagram.core.internal.edithelpers.ConnectionEditHelper"
               id="org.eclipselabs.damos.diagram.connection"
               name="Connection">
         </metamodelType>
         <metamodelType
               eclass="Connector"
               edithelper="org.eclipselabs.damos.diagram.core.internal.edithelpers.ConnectorEditHelper"
               id="org.eclipselabs.damos.diagram.connector"
               name="Connector">
         </metamodelType>
         <metamodelType
               eclass="Port"
               edithelper="org.eclipselabs.damos.diagram.core.internal.edithelpers.PortEditHelper"
               id="org.eclipselabs.damos.diagram.port"
               name="Port">
         </metamodelType>
         <metamodelType
               eclass="Inport"
               edithelper="org.eclipselabs.damos.diagram.core.internal.edithelpers.InportEditHelper"
               id="org.eclipselabs.damos.diagram.inport"
               name="Inport">
         </metamodelType>
         <metamodelType
               eclass="Outport"
               edithelper="org.eclipselabs.damos.diagram.core.internal.edithelpers.OutportEditHelper"
               id="org.eclipselabs.damos.diagram.outport"
               name="Outport">
         </metamodelType>
         <metamodelType
               eclass="Subsystem"
               edithelper="org.eclipselabs.damos.diagram.core.internal.edithelpers.SubsystemEditHelper"
               id="org.eclipselabs.damos.diagram.subsystem"
               name="Subsystem">
         </metamodelType>
         <metamodelType
               eclass="Block"
               edithelper="org.eclipselabs.damos.diagram.core.internal.edithelpers.BlockEditHelper"
               id="org.eclipselabs.damos.diagram.block"
               name="Block">
         </metamodelType>
         <metamodelType
               eclass="BlockInput"
               edithelper="org.eclipselabs.damos.diagram.core.internal.edithelpers.BlockInputEditHelper"
               id="org.eclipselabs.damos.diagram.blockInput"
               name="Block Input">
         </metamodelType>
         <metamodelType
               eclass="BlockOutput"
               edithelper="org.eclipselabs.damos.diagram.core.internal.edithelpers.BlockOutputEditHelper"
               id="org.eclipselabs.damos.diagram.blockOutput"
               name="Block Output">
         </metamodelType>
         <metamodelType
               eclass="BlockInputPort"
               edithelper="org.eclipselabs.damos.diagram.core.internal.edithelpers.BlockInputPortEditHelper"
               id="org.eclipselabs.damos.diagram.blockInputPort"
               name="Block Input Port">
         </metamodelType>
         <metamodelType
               eclass="BlockOutputPort"
               edithelper="org.eclipselabs.damos.diagram.core.internal.edithelpers.BlockOutputPortEditHelper"
               id="org.eclipselabs.damos.diagram.blockOutputPort"
               name="Block Output Port">
         </metamodelType>
         <metamodelType
               eclass="Parameter"
               id="org.eclipselabs.damos.diagram.parameter"
               name="Parameter">
         </metamodelType>
         <metamodelType
               eclass="Argument"
               id="org.eclipselabs.damos.diagram.argument"
               name="Argument">
         </metamodelType>
      </metamodel>
   </extension>

</plugin>
