<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <editor
               id="org.esmp.dsm.diagram.ui.blockDiagramEditor"></editor>
         <contribution
               factoryClass="org.esmp.dsm.diagram.ui.services.PaletteFactory">
            <entry
                  description="Structure blocks"
                  id="org.esmp.dsm.library.structure.drawer"
                  kind="drawer"
                  label="Structure"
                  path="/">
            </entry>
            <entry
                  description="Create an inport"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Structure/Inport.blocktype"
                  kind="tool"
                  label="Inport"
                  path="/org.esmp.dsm.library.structure.drawer">
            </entry>
            <entry
                  description="Create an outport"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Structure/Outport.blocktype"
                  kind="tool"
                  label="Outport"
                  path="/org.esmp.dsm.library.structure.drawer">
            </entry></contribution>
      </paletteProvider>
   </extension>
   <extension
         point="org.esmp.dsm.diagram.ui.editParts">
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Structure/Inport.blocktype"
            class="org.esmp.dsm.library.structure.ui.editparts.InoutportEditPart"
            name="Inport">
      </editPart>
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Structure/Outport.blocktype"
            class="org.esmp.dsm.library.structure.ui.editparts.InoutportEditPart"
            name="Outport">
      </editPart>
   </extension>

</plugin>
