<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipselabs.damos.simulation.engine.blockSimulationObjects">
      <simulationObject
            blockType="org.eclipselabs.damos.library.base.continuous.TransferFunction"
            class="org.eclipselabs.damos.library.base.simulation.continuous.TransferFunctionSimulationObject"
            name="Transfer Function">
      </simulationObject>
      <simulationObject
            blockType="org.eclipselabs.damos.library.base.sources.Step"
            class="org.eclipselabs.damos.library.base.simulation.sources.StepSimulationObject"
            name="Step">
      </simulationObject>
      <simulationObject
            blockType="org.eclipselabs.damos.library.base.sources.Ramp"
            class="org.eclipselabs.damos.library.base.simulation.sources.RampSimulationObject"
            name="Ramp">
      </simulationObject>
      <simulationObject
            blockType="org.eclipselabs.damos.library.base.sources.SineWave"
            class="org.eclipselabs.damos.library.base.simulation.sources.SineWaveSimulationObject"
            name="Sine Wave">
      </simulationObject>
      <simulationObject
            blockType="org.eclipselabs.damos.library.base.sinks.Scope"
            class="org.eclipselabs.damos.library.base.simulation.sinks.ScopeSimulationObject"
            name="Scope">
      </simulationObject>
   </extension>

</plugin>
