<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.esmp.dsm.simulation.simulationModels">
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Sources/Constant.blocktype"
            class="org.esmp.dsm.library.sources.simulation.ConstantSimulationModel"
            name="Constant">
      </simulationModel>
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Sources/SineWave.blocktype"
            class="org.esmp.dsm.library.sources.simulation.SineWaveSimulationModel"
            name="SineWave">
      </simulationModel>
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Sources/Step.blocktype"
            class="org.esmp.dsm.library.sources.simulation.StepSimulationModel"
            name="Step">
      </simulationModel>
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Sources/Ramp.blocktype"
            class="org.esmp.dsm.library.sources.simulation.RampSimulationModel"
            name="Ramp">
      </simulationModel>
   </extension>

</plugin>
