<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="com.yakindu.statechart.WorkflowExecutableExtensionFactory:org.eclipse.xtext.ui.core.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="workflow"
            id="com.yakindu.statechart.Workflow"
            name="Workflow Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="com.yakindu.statechart.WorkflowExecutableExtensionFactory:org.eclipse.xtext.ui.common.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.common.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="com.yakindu.statechart.Workflow.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="com.yakindu.statechart.WorkflowExecutableExtensionFactory:org.eclipse.xtext.ui.core.editor.handler.ValidateActionHandler"
            commandId="com.yakindu.statechart.Workflow.validate">
         <activeWhen>
            <reference
                    definitionId="com.yakindu.statechart.Workflow.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
        <handler
              class="com.yakindu.statechart.workflow.ui.popup.actions.WorkflowInitDialogAction"
              commandId="com.yakindu.statechart.Workflow.runWorkflow">
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="com.yakindu.statechart.Workflow.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.core.editor.XtextEditor.languageName" 
                        value="com.yakindu.statechart.Workflow" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="com.yakindu.statechart.WorkflowExecutableExtensionFactory:org.eclipse.xtext.ui.core.editor.preferences.LanguageRootPreferencePage"
            id="com.yakindu.statechart.Workflow"
            name="Workflow"
            category="org.eclipse.xtext.languages">
            <keywordReference id="com.yakindu.statechart.ui.keyword_Workflow"/>
        </page>
        <page
            category="com.yakindu.statechart.Workflow"
            class="com.yakindu.statechart.WorkflowExecutableExtensionFactory:org.eclipse.xtext.ui.common.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="com.yakindu.statechart.Workflow.coloring"
            name="Syntax Coloring">
            <keywordReference id="com.yakindu.statechart.ui.keyword_Workflow"/>
        </page>
        <page
            category="com.yakindu.statechart.Workflow"
            class="com.yakindu.statechart.WorkflowExecutableExtensionFactory:org.eclipse.xtext.ui.common.editor.templates.XtextTemplatePreferencePage"
            id="com.yakindu.statechart.Workflow.templates"
            name="Templates">
            <keywordReference id="com.yakindu.statechart.ui.keyword_Workflow"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="com.yakindu.statechart.ui.keyword_Workflow"
            label="Workflow"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="com.yakindu.statechart.Workflow.validate"
            name="Validate">
      </command>
      <command
            description="run the Workflow"
            id="com.yakindu.statechart.Workflow.runWorkflow"
            name="run Workflow">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.open">
             <command
                 commandId="com.yakindu.statechart.Workflow.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="com.yakindu.statechart.Workflow.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
        <menuContribution
              locationURI="popup:org.eclipse.ui.popup.any?after=additions">
           <command
                 commandId="com.yakindu.statechart.Workflow.runWorkflow"
                 icon="icons/16x16.gif"
                 label="run Workflow"
                 style="push">
              <visibleWhen
                    checkEnabled="true">
                  <iterate operator="and" ifEmpty="false">
                       <adapt
                             type="org.eclipse.core.resources.IResource">
                          <test
                                property="org.eclipse.core.resources.name"
                                value="*.workflow">
                          </test>
                       </adapt>
                  </iterate>  
              </visibleWhen>
           </command>
        </menuContribution>
    </extension>

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="com.yakindu.statechart.WorkflowExecutableExtensionFactory:org.eclipse.xtext.resource.XtextResourceFactory"
			type="workflow">
		</parser>
	</extension>




   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.yakindu.statechart.workflow.ui"
            name="Yakindu Workflow">
      </category>
      <wizard
            category="com.yakindu.statechart.workflow.ui"
            class="com.yakindu.statechart.wizards.NewFileWizard"
            icon="icons/16x16.gif"
            id="com.yakindu.statechart.wizards.NewFileWizard"
            name="Yakindu Workflow File">
      </wizard>
   </extension>

</plugin>
