<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <editor
               id="org.esmp.dsm.diagram.ui.blockDiagramEditor"></editor>
         <contribution
               factoryClass="org.esmp.dsm.diagram.ui.services.PaletteFactory">
            <entry
                  description="Continuous blocks"
                  id="org.esmp.dsm.library.continuous.drawer"
                  kind="drawer"
                  label="Continuous"
                  path="/">
            </entry>
            <entry
                  description="Create a transfer function block"
                  id="http://www.esmp.org/dsm/1.0.0/Library/Continuous/TransferFunction.blocktype"
                  kind="tool"
                  label="Transfer Function"
                  path="/org.esmp.dsm.library.continuous.drawer">
            </entry>
         </contribution>
      </paletteProvider>
   </extension>
   <extension
         point="org.esmp.dsm.diagram.ui.editParts">
      <editPart
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Continuous/TransferFunction.blocktype"
            class="org.esmp.dsm.library.continuous.ui.editparts.TransferFunctionEditPart"
            name="Transfer Function">
      </editPart>
   </extension>

</plugin>
