<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.esmp.dsm.simulation.simulationModels">
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Discrete/Delay.blocktype"
            class="org.esmp.dsm.library.discrete.simulation.DelaySimulationModel"
            name="Delay">
      </simulationModel>
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Discrete/DiscreteDerivative.blocktype"
            class="org.esmp.dsm.library.discrete.simulation.DiscreteDerivativeSimulationModel"
            name="Discrete Derivative">
      </simulationModel>
      <simulationModel
            blockTypeURI="http://www.esmp.org/dsm/1.0.0/Library/Discrete/DiscreteIntegrator.blocktype"
            class="org.esmp.dsm.library.discrete.simulation.DiscreteIntegratorSimulationModel"
            name="Discrete Integrator">
      </simulationModel>
   </extension>

</plugin>
