<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="simulationModelProviders" name="Simulation Model Providers" schema="schema/simulationModelProviders.exsd"/>
   <extension-point id="simulationModels" name="Simulation Models" schema="schema/simulationModels.exsd"/>
   <extension-point id="simulationListeners" name="Simulation Listeners" schema="schema/simulationListeners.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.esmp.dsm.simulation.internal.launching.SimulationLaunchConfigurationDelegate"
            id="org.esmp.dsm.simulation.launching.simulation"
            modes="run, debug"
            name="Block Diagram Simulation">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.esmp.dsm.simulation.simulationModelProviders">
      <simulationModelProvider
            class="org.esmp.dsm.simulation.internal.services.DeclarativeSimulationModelProvider">
      </simulationModelProvider>
   </extension>

</plugin>
