<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.esmp.dsm.simulation.ui.internal.views.SimulationView"
            icon="icons/Simulation.gif"
            id="org.esmp.dsm.simulation.ui.main"
            name="Simulation Results"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.esmp.dsm.simulation.launching.simulation"
            icon="icons/Simulation.gif"
            id="org.esmp.dsm.simulation.ui.launchConfigurationTypeImage.simulation">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.esmp.dsm.simulation.ui.internal.launching.SimulationTabGroup"
            id="org.esmp.dsm.simulation.ui.launchConfigurationTabGroup.simulation"
            type="org.esmp.dsm.simulation.launching.simulation">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.esmp.dsm.simulation.ui.internal.launching.SimulationLaunchShortcut"
            icon="icons/Simulation.svg"
            id="org.esmp.dsm.simulation.ui.launchShortcut.simulation"
            label="Block Diagram Simulation"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.blockdiagram">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.esmp.dsm.simulation.simulationListeners">
      <listener
            class="org.esmp.dsm.simulation.ui.internal.views.SimulationListener">
      </listener>
   </extension>

</plugin>
