<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipselabs.damos.dconfig.definitions">
      <resource
            uri="platform:/plugin/org.eclipselabs.damos.codegen.targets.arduino.shields/dconfig/Shields.xmi">
      </resource>
   </extension>
   <extension
         point="org.eclipselabs.damos.codegen.targets.arduino.shieldGenerators">
      <generator
            class="org.eclipselabs.damos.codegen.targets.arduino.shields.SevenSegmentDisplayDemoShieldGenerator"
            shield="damos.codegen.targets.arduino.shields.SevenSegmentDisplayDemo">
      </generator>
      <generator
            class="org.eclipselabs.damos.codegen.targets.arduino.shields.MotorShieldGenerator"
            shield="damos.codegen.targets.arduino.shields.Motor">
      </generator>
   </extension>

</plugin>
