<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.esmp.dsm.codegen.c.launching.codegen"
            icon="icons/Codegen.gif"
            id="org.esmp.dsm.codegen.c.ui.launchConfigurationTypeImage.codegen">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.esmp.dsm.codegen.c.ui.internal.launching.CodegenTabGroup"
            id="org.esmp.dsm.codegen.c.ui.launchConfigurationTabGroup.codegen"
            type="org.esmp.dsm.codegen.c.launching.codegen">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
