<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="dialects" name="C Language Dialects" schema="schema/dialects.exsd"/>
   <extension-point id="generatorProviders" name="C Code Generator Providers" schema="schema/generatorProviders.exsd"/>
   <extension-point id="generators" name="C Code Generators" schema="schema/generators.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.esmp.dsm.codegen.c.internal.launching.CCodegenLaunchConfigurationDelegate"
            id="org.esmp.dsm.codegen.c.launching.codegen"
            modes="run"
            name="Block Diagram C Code Generation">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.esmp.dsm.codegen.c.generatorProviders">
      <generatorProvider
            class="org.esmp.dsm.codegen.c.internal.services.DeclarativeBlockCGeneratorProvider">
      </generatorProvider>
   </extension>

</plugin>
